$icomoon-font-path: "fonts" !default;
$icomoon-font-family: "icomoon3" !default;

$icon-moon-WebGL_Logo: "\e901";
$icon-moon-belt: "\e900";
$icon-moon-brand: "\e907";
$icon-moon-steam: "\e907";
$icon-icons8-unreal: "\e900";
$icon-unity-logo: "\e900";
