$icomoon-font-family: "icomoon-cv" !default;
$icomoon-font-path: "fonts" !default;

$icon-dex-path1: "\e901";
$icon-dex-path2: "\e902";
$icon-dex_t: "\e903";
$icon-cha-path1: "\e904";
$icon-cha-path2: "\e905";
$icon-fist-path1: "\e908";
$icon-fist-path2: "\e909";
$icon-str_t: "\e90a";
$icon-int-path1: "\e90b";
$icon-int-path2: "\e90c";
$icon-int_t: "\e90d";
$icon-con-path1: "\e90e";
$icon-con-path2: "\e90f";
$icon-con_t: "\e910";
$icon-sag-path1: "\e911";
$icon-sag-path2: "\e912";
$icon-sag_t: "\e913";
$icon-con2-path1: "\e914";
$icon-con2-path2: "\e915";
$icon-cha_t: "\e900";
$icon-knapsack-path1: "\e906";
$icon-knapsack-path2: "\e907";
$icon-knapsack_t: "\e916";