@import url("http://fonts.googleapis.com/css?family=Open+Sans");
@import "icomoon-style";

//*****************************************************************************************//
//*****************************************************************************************//
//*************************************** VARIABLES ***************************************//
//*****************************************************************************************//
//*****************************************************************************************//


$HEADER-BACKGROUND : linear-gradient(#d2d2d2, #e7e7e7);
$FOOTER-BACKGROUND : linear-gradient(#e7e7e7, #d2d2d2);
$SHADOW-BOX-GRADIENT : #e2e2da;
$MAIN-TEXT-COLOR : #337ab7;


//*****************************************************************************************//
//*****************************************************************************************//
//**************************************** FUNCTION ***************************************//
//*****************************************************************************************//
//*****************************************************************************************//


@mixin parallaxes-background($image){
    background-image: url($image);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin background-opacity($opacity){
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, $opacity);
}


//*****************************************************************************************//
//*****************************************************************************************//
//***************************************** CLASS *****************************************//
//*****************************************************************************************//
//*****************************************************************************************//


.row{
    margin-left: 0px;
    margin-right: 0px;
}

@media screen and (max-width: 765px){
    .content-fluid{
        padding: 0 15px;
    }
}

.my_section{
    padding: 50px 0;

    .title{
        text-align: center;
        color: $MAIN-TEXT-COLOR;
        text-shadow: 1px 0.6px #34328e;
        margin-bottom: 50px;
        text-transform: uppercase;
    }

    @media screen and (max-width: 765px){
        .title{
            margin-top: 0;
        }
    }
}


//*****************************************************************************************//
//*****************************************************************************************//
//****************************************** BODY *****************************************//
//*****************************************************************************************//
//*****************************************************************************************//


body{
    font-size: 20px;
    font-family: 'Open Sans';
}


//*****************************************************************************************//
//*****************************************************************************************//
//*************************************** TOP BUTTON **************************************//
//*****************************************************************************************//
//*****************************************************************************************//


@media screen and (max-width: 900px){
    #top_arrow{
        display: block !important;
        position: fixed;
        bottom: 10px;
        right: 10px;
        color: gray;
        z-index: 1030;
        text-decoration: none !important;

        div{
            background-color: black;
            border-radius: 100%;
            padding-bottom: 10px !important;
            padding: 0 4px;

            p{
                color: green;
                font-size: 40px;
                text-align: center;
                display: table-cell;
                vertical-align: middle;
                padding: 4px;
                line-height: 20px;
            }
        }
    }
}

#top_arrow{
    display: none;
}


//*****************************************************************************************//
//*****************************************************************************************//
//**************************************** HEADER *****************************************//
//*****************************************************************************************//
//*****************************************************************************************//


@media screen and (max-width: 900px){
    #header{
        #header_collapse{
            height: auto !important ;
            border-top: 1px solid rgb(185, 182, 182);
            margin-top: 0 !important;
        }
    }
}

@media screen and (min-width: 900px){
    #header{
        #header_collapse{
           height: 52px !important;
        }
    }
}

#header{
    background-image: $HEADER-BACKGROUND;
    box-shadow: -1px 1px $SHADOW-BOX-GRADIENT;
    
    #header_collapse{
        margin-top: 10px;
        transition: all .2s linear;
        padding: 0px;

        ul{
            font-size: 16px;

            li{
                padding: 0 25px;

                span{
                    margin-right: 10px;
                }

                a{
                    color: $MAIN-TEXT-COLOR;
                }

                a:hover{
                    border-bottom: 2px solid $MAIN-TEXT-COLOR;
                }

                a.current{
                    border-bottom: 2px solid $MAIN-TEXT-COLOR;
                }
            }
        }
    }

    #header_collapse.collapsed{
        margin-top: 0px;
    }
}


//*****************************************************************************************//
//*****************************************************************************************//
//**************************************** PREFACE ****************************************//
//*****************************************************************************************//
//*****************************************************************************************//


#preface{
    position: relative;

    #photo_content{
        position: relative;

        #me_photo{
            margin: 0 auto;
        }
    }

    #text_container{
        position: relative;
        text-align: center;
        color: white;
        text-shadow: 0.2px 0.2px #c9c9cc,
                    -0.2px -0.2px #c9c9cc;
    }

    #tmp_message{
        top: 30px;
        position: relative;
        font-size: 31px;
        font-weight: bold;
        left: 50%;
    }

    @media screen and (max-width: 1200px){
        #tmp_message{
            display: none;
        }
    }

    @media screen and (max-width: 900px){
        #photo_content{
            width: 100%;
            margin-top: 25px;
            
            #me_photo{
                height: 180px;
                display: block;
            }
        }
    }

    @media screen and (min-width: 900px){
        #photo_content{
            min-height: 300px;
            margin-top: 100px;
            float: right;
            width: 30%;
    
            #me_photo{
                height: 230px;
                display: block;                
                transition: all 0.3s ease;
                float: left;
            }
    
            @media only screen and (min-width: 1080px){
                #me_photo.sticky{
                    position: fixed;
                    z-index: 10000;
                    height: 80px;
                    top: 15px;
                    right: 10px;
                }            
            }
        }
            
        #text_container{
            float: right;
            width: 50%;
    
            div{
                float: right;
                margin-top: 150px;
                margin-right: 50px;
            }
        }
    }
}

#preface::before{
    @include background-opacity(0.2);
}

@media screen and (max-width: 900px){
    #preface{
        background-image: url("Images/mybackground.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 360px;
        
        #photo_content{
            display: block;
            clear: both;
            min-height: 0px;
            max-height: 200px;

            #me_photo{
                height: 150px;
            }
        }
    }
}


@media screen and (min-width: 900px){
    #preface{
        @include parallaxes-background("Images/mybackground.jpg");
        height: 550px;
    }
}


//*****************************************************************************************//
//*****************************************************************************************//
//*************************************** ABOUT ME ****************************************//
//*****************************************************************************************//
//*****************************************************************************************//


#about_me{
    @media screen and (min-width: 765px){
        .title{
            margin-top: 50px;
        }
    }

    #citation{
        text-align: center;
        color: blue;
        font-size: 20px;
    }

    article{
        text-align: justify;
    }

    @media screen and (max-width: 580px) {
        #citation, article{
            font-size: 16px;
        }
    }
}


//*****************************************************************************************//
//*****************************************************************************************//
//**************************************** SKILLS *****************************************//
//*****************************************************************************************//
//*****************************************************************************************//


#skills{
    @include parallaxes-background("Images/skillsbackground.jpg");
    position: relative;

    .title{
        position: relative;
    }

    .hidden_row{
        opacity: 0;
        margin-top: 200px;
    }

    .skill_container{
        text-align: center;
        color: rgb(30, 30, 30);

        i.icon-moon-webgl-logo{
            font-size: 60px;
        }

        svg.icon-moon-webgl-logo{
            height: 60px;
            width: 140px;
            margin-bottom: 29px;
        }

        svg.icon-icons8-unreal, svg.icon-unity-logo{
            height: 90px;
        }

        p{
            text-align: justify;
        }
    }

    @media screen and (min-width: 765px){
        .skill_container{

            i{
                font-size: 90px;
                visibility: visible;
                position: absolute;
                color: #303030
            }

            svg, img{
                width: 90px;
                visibility: hidden;
            }

            .icon-moon-belt{
                height: 88px;
            }

            .text_container{
                svg{
                    display: none;
                }

                h2{
                    margin-top: 0px;
                }
            }
        }

        .skill_container:hover{
            i{
                visibility: hidden;
            }

            svg, img{
                visibility: visible;
            }
        }
    }

    @media screen and (min-width: 580px) and (max-width: 765px){
        .row{
            .col-sm-10{
                margin-bottom: 0 !important;

                .row{
                    .col{
                        margin-bottom: 10px;

                        .skill_container{
                            position: relative;
                
                            i{
                                display: none;
                            }
                
                            svg, img{
                                width: 70px;
                                top: 30%; 
                                left: 0;
                                position: absolute;
                            }
                
                            .text_container{
                                width: 85%;
                                margin-left: 15%;

                                svg{
                                    display: none;
                                }
                
                                h2{
                                    text-align: left;
                                    margin-top: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
    
    @media screen and (max-width: 580px){
        .row{
            .col-sm-10{
                margin-bottom: 0 !important;

                .row{
                    .col{
                        margin-bottom: 10px;

                        .skill_container{
                            position: relative;
                
                            i, svg, img{
                                display: none;
                            }
                
                            .text_container{
                                svg{
                                    display: inline;
                                    width: 30px;
                                    margin: 0;
                                }

                                svg.icon{
                                    height: 27px;
                                }
                
                                h2{
                                    display: inline;
                                    padding-right: 15px;
                                    margin-top: 0px;
                                    font-size: 22px;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }

    .row{
        margin-bottom: 20px;

        .col-sm-10{
            margin-bottom: 55px;
        }
    }
}

#skills::before{
    @include background-opacity(0.7);
}


//*****************************************************************************************//
//*****************************************************************************************//
//*************************************** PROJECTS ****************************************//
//*****************************************************************************************//
//*****************************************************************************************//


#projects{
    #proj_carousel{
        .carousel-inner > .item{
            a{
                text-decoration: none !important;
            }

            .proj_section{
                position: relative;
                padding: 45px 150px;
                min-height: 480px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;

                h1{
                    text-align: center;
                    position: relative;
                    color: #34328e;
                }

                p{
                    color: black !important;
                    position: relative;
                    text-align: justify;
                }
            }
            
            #proj_cg{
                background-image: url("Images/cg.jpg") !important;
            }

            #proj_sann{
                background-image: url("Images/sann.jpg") !important;
            }

            #proj_srt{
                background-image: url("Images/srt.jpg") !important;
            }

            #proj_vr{
                background-image: url("Images/chatvrroom.png") !important;
            }

            #proj_rpg{
                background-image: url("Images/rpg.png") !important;
            }

            .proj_section::before{
                @include background-opacity(0.6);
            }

            @media screen and (max-width: 580px) {
                .proj_section{
                    font-size: 16px;
                    padding: 45px 10px;
                }
            }
        }
    }
}


//*****************************************************************************************//
//*****************************************************************************************//
//************************************** EXPERIENCES **************************************//
//*****************************************************************************************//
//*****************************************************************************************//


#exp{
    @include parallaxes-background("Images/expbackground.jpg");
    position: relative;

    .title{
        position: relative;
    }

    .row{
        .exp_section{
            margin-bottom: 30px;
            border: 4px solid #a3a2a2;
            border-radius: 30px;
            padding: 15px;

            h1{
                color: $MAIN-TEXT-COLOR;
                display: inline;
                padding-left: 10px;
            }
            
            i, img{
                display: inline;
                font-size: 30px;
                float: right;
                margin-right: 22px;
                font-size: 40px;
            }

            img{
                height: 45px;
            }

            ul{
                margin-top: 10px;
            }
        }
    }

    @media screen and (max-width: 580px) {
        .row{
            .exp_section{
                i{
                    font-size: 35px;
                }

                h1{
                    font-size: 28px;
                }
                
                ul{
                    font-size: 16px;
                }               
            }
        }
    }
}

#exp::before{
    @include background-opacity(0.7);
}


//*****************************************************************************************//
//*****************************************************************************************//
//************************************** CONTACT ME ***************************************//
//*****************************************************************************************//
//*****************************************************************************************//


#contact{
    // .row{
    //     .col{
    //         form{
    //             input, textarea{
    //                 border: 0;
    //                 box-shadow: none;
    //                 border-bottom: 1px solid gray;
    //                 border-radius: 0;
    //             }

    //             .form-group{
    //                 position: relative;

    //                 label{
    //                     position: absolute;
    //                     color: gray;
    //                     left: 12px;
    //                     font-size: 18px;
    //                     top: 3px;
    //                     transition: 0.2s;
    //                     text-transform: uppercase;
    //                 }

    //                 input:focus + label, input:valid + label,
    //                 textarea:focus + label, textarea:valid + label,
    //                 label.topper{
    //                     left: 0px;
    //                     top: -16px;
    //                     color: $MAIN-TEXT-COLOR;
    //                 }
    //             }

    //             #submitButton:hover{
    //                 color: $MAIN-TEXT-COLOR !important;
    //             }
    //         }
    //     }
    // }

    .row{
        font-size: 20px;

        i{
            margin-right: 20px;
        }

        i#code_mail{
            margin-right: 0;
        }

        h3{
            display: inline;

            small{
                font-size: 20px;
                color: rgb(65, 63, 63);
            }
        }

        span.tab{
            padding-left: 50px;
        }

        .contact_var{
            color: blue;
        }

        .contact_keyword{
            color: green;
        }

        .contact_func{
            color: rgb(255, 217, 0);
        }
    }

    @media screen and (min-width: 580px){
        .row{
            span.tab.mobile{
                display: none;
            }
        }
    }

    @media screen and (max-width: 580px){
        .row{
            i{
                display: none
            }

            i#code_mail{
                display: inline;
            }

            h3{
                font-size: 15px;
                
                small{
                    font-size: 12px;
                }
            }
            
            span.tab{
                padding-left: 30px;
            }

            span.tab.mobile{
                display: inline;
            }
        }

        br{
            display: none;
        }
    }
}


//*****************************************************************************************//
//*****************************************************************************************//
//**************************************** FOOTER *****************************************//
//*****************************************************************************************//
//*****************************************************************************************//


footer{
    background-image: $FOOTER-BACKGROUND;
    margin-top: 80px;
    font-size: 13px;
    font-weight: bold;
    box-shadow: 1px -2px $SHADOW-BOX-GRADIENT;
    border-top: 1px solid rgb(231, 231, 231);
    
    .row{
        .col{
            img{
                height: 25px;
                display: block;
                margin: 0 auto;
            }

            i{
                display: block;
                text-align: center;
                font-size: 30px;
                color: gray;
            }

            svg{
                height: 25px;
                width: 32px;
                margin-left: 38px;
                fill: gray;
                display: block;
                margin: 0 auto;
            }

            a{
                text-align: center;
            }
        }

        .col:hover i{
            color: black;
        }

        .col:hover svg{
            fill: black;
        }

        p{
            text-align: center;
        }
    }

    .row{
        margin: 0;

        p{
            margin: 0;
        }

        a:visited, a:active{
            text-transform: none;
        }
    }

    .row:first-child{
        padding: 15px;
    }

    .row:nth-child(2){
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .col-xs-offset-12 {
        margin-left: 100%;
    }
    .col-xs-offset-11 {
        margin-left: 91.66666666666666%;
    }
    .col-xs-offset-10 {
        margin-left: 83.33333333333334%;
    }
    .col-xs-offset-9 {
        margin-left: 75%;
    }
    .col-xs-offset-8 {
        margin-left: 66.66666666666666%;
    }
    .col-xs-offset-7 {
        margin-left: 58.333333333333336%;
    }
    .col-xs-offset-6 {
        margin-left: 50%;
    }
    .col-xs-offset-5 {
        margin-left: 41.66666666666667%;
    }
    .col-xs-offset-4 {
        margin-left: 33.33333333333333%;
    }
    .col-xs-offset-3 {
        margin-left: 25%;
    }
    .col-xs-offset-2 {
        margin-left: 16.666666666666664%;
    }
    .col-xs-offset-1 {
        margin-left: 8.333333333333332%;
    }
    .col-xs-offset-0 {
        margin-left: 0;
    }
}

/* Ensure that all of the zero offsets are available - recent SASS version did not include .col-sm-offset-0 */
@media (min-width: 768px) {
    .col-sm-offset-0,
    .col-md-offset-0,
    .col-lg-offset-0 {
        margin-left: 0;
    }
}