Documenti/
bootstrap/
Scripts/jquery-3.1.1.min.js
StartSass.bat
NewProject.bmpr
sushi - Copia.html
.vscode/
.sass-cache/
todo.txt

#Ignore css not minified
Styles/**/*.map

#Ignore images
Styles/Images/mybackground (copy 1).jpg
Styles/Images/mybackground (copy 2).jpg

#Ignore win script
compilesass.bat

missingCredits.txt