Documenti/
bootstrap/
Scripts/jquery-3.1.1.min.js
StartSass.bat
NewProject.bmpr
sushi - Copia.html
.vscode/
.sass-cache/
todo.txt


#Ignore icons
Styles/icons/*
!Styles/icons/cplusplus
!Styles/icons/docker
!Styles/icons/facebook
!Styles/icons/git
!Styles/icons/github
!Styles/icons/html5
!Styles/icons/ionic
!Styles/icons/linux
!Styles/icons/java
!Styles/icons/javascript
!Styles/icons/mysql