$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "Fonts" !default;

$icomoon-trophy-plain: "\e918";
$icomoon-Battlenet-icon: "\e915";
$icomoon-game-controller-path1: "\e900";
$icomoon-game-controller-path2: "\e901";
$icomoon-game-controller-path3: "\e902";
$icomoon-game-controller-path4: "\e903";
$icomoon-game-controller-path5: "\e904";
$icomoon-game-controller-path6: "\e905";
$icomoon-game-controller-path7: "\e906";
$icomoon-game-controller-path8: "\e907";
$icomoon-game-controller-path9: "\e908";
$icomoon-game-controller-path10: "\e909";
$icomoon-game-controller-path11: "\e90a";
$icomoon-game-controller-path12: "\e90b";
$icomoon-game-controller-path13: "\e90c";
$icomoon-game-controller-path14: "\e90d";
$icomoon-game-controller-path15: "\e90e";
$icomoon-game-controller-path16: "\e90f";
$icomoon-game-controller-path17: "\e910";
$icomoon-game-controller-path18: "\e911";
$icomoon-gog-dot-com: "\e916";
$icomoon-playstation: "\e91a";
$icomoon-steam: "\e912";
$icomoon-unity: "\e913";
$icomoon-unrealengine: "\e914";
$icomoon-gamepad: "\e919";
$icomoon-badge: "\e917";

