$icomoon2-font-family: "icomoon2" !default;
$icomoon2-font-path: "Fonts" !default;

$iconmoon2-saber-path1: unquote('"\\e900"');
$iconmoon2-saber-path2: unquote('"\\e901"');
$iconmoon2-saber-path3: unquote('"\\e902"');
$iconmoon2-saber-path4: unquote('"\\e903"');
$iconmoon2-saber-path5: unquote('"\\e904"');
$iconmoon2-saber-path6: unquote('"\\e905"');
$iconmoon2-saber-path7: unquote('"\\e906"');
$iconmoon2-saber-path8: unquote('"\\e907"');
$iconmoon2-saber-path9: unquote('"\\e908"');
$iconmoon2-saber-path10: unquote('"\\e909"');
$iconmoon2-saber-path11: unquote('"\\e90a"');
$iconmoon2-saber-path12: unquote('"\\e90b"');
$iconmoon2-saber-path13: unquote('"\\e90c"');
$iconmoon2-saber-path14: unquote('"\\e90d"');
$iconmoon2-saber-path15: unquote('"\\e90e"');
$iconmoon2-saber-path16: unquote('"\\e90f"');
$iconmoon2-saber-path17: unquote('"\\e910"');
$iconmoon2-saber-path18: unquote('"\\e911"');


