@import "icomoon-cv-style";

$default-border: 5px ridge lightgray;
$default-border-radius: 10px;

//*****************************************************************************************//
//*****************************************************************************************//
//***************************************** FONTS *****************************************//
//*****************************************************************************************//
//*****************************************************************************************//

@font-face {
    font-family: "fantasy";
    src: url("/Styles/fonts/LifeCraft_Font.ttf") format("opentype");
}

@font-face{
    font-family: "ds";
    src: url("/Styles/fonts/ds.ttf") format("opentype");
}

//*****************************************************************************************//
//*****************************************************************************************//
//**************************************** GENERAL ****************************************//
//*****************************************************************************************//
//*****************************************************************************************//

body{
    overflow: hidden;
}

.fake_body{
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw; 
    z-index: 1;
}

.fake_body::before{
    background: rgba(255, 255, 255, 0.2);
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

#dead{
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%; 
    z-index: 2000;

    div{
        background-color: rgba(0, 0, 0, 1);
        height: 170px;
        text-align: center;
        top: 43%;
        width: 100%;

        h1{
            color: #671414;
            font-family: ds;
            font-size: 135px;
            line-height: 170px;
        }
    }
}

//*****************************************************************************************//
//*****************************************************************************************//
//*************************************** SELECTION ***************************************//
//*****************************************************************************************//
//*****************************************************************************************//

#selection{
    position: relative;
    z-index: 900;

    #selection_header{
        background-color: gray;
        color: #ffbf00;
        font-family: fantasy;
        font-size: 90px;
        height: 150px;
        margin-bottom: 10px;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
    }

    .pg_info{
        cursor: pointer;
        height: 230px;
        width:  100%;

        .pg_avatar{
            img{
                border-radius: 100%;
                display: block;
                margin: auto;
                opacity: 0.5;
                width: 170px;
            }
        }

        .pg_text{

            >div{
                width: 100%;
                
                .pg_label{
                    color: rgba(163, 11, 11, 0.5);
                    float: left;
                    width: 15%;
                }

                .pg_attribute{
                    color: rgba(0, 0, 0, 0.5);
                    float: right;
                    width: 85%;
                }

                .pg_label, .pg_attribute{
                    font-family: fantasy;
                    font-size: 35px;
                }
            }
            
        }
    }

    .pg_info:hover{
        background-color: beige;

        .pg_avatar{
            img{
                opacity: 1;
                width: 200px;
            }
        }

        .pg_text{
            .pg_label{
                color: rgba(163, 11, 11, 1);
            }

            .pg_attribute{
                color: rgba(0, 0, 0, 1);
            }
        }
    }
    
}



//*****************************************************************************************//
//*****************************************************************************************//
//*************************************** CHARACTER ***************************************//
//*****************************************************************************************//
//*****************************************************************************************//

.pg_image{
    border-radius: 100%;
    width: 200px;
}

#character{
    display: none; 
    font-family: fantasy;
    position: absolute;
    top: 0;
    z-index: 600;

    #character_header{
        $UI-avatar-color: lightgray;

        padding: 10px 0;

        >div{
            height: 100%;
        }

        #character_avatar{
            padding: 0;
            z-index: 1000;

            img{
                border-radius: 100%;
                border: 6px solid $UI-avatar-color;
                float: right;
                height: 100%;
                width: auto;
            }
        }

        #character_info{
            padding: 0;
            font-family: fantasy;
            font-size: 17px;
            font-weight: bold;
            z-index: 999;

            > div{
                background-color: lightgray;
                border-radius: $default-border-radius;
                margin-left: -2.5vw;
            }

            #character_name{
                margin-left: 2.5vw;
            }

            #character_mana, #character_health{
                border: 3px solid $UI-avatar-color;
                border-radius: $default-border-radius;
                height: 20%;
                text-align: center;
                width: 100%; 
            }

            #character_health{
                background-color: black;

                #health_indicator{
                    color: #65bf65;
                }
                #current_health{
                    background-color: #65bf65;
                    color: #65bf65;
                    border-radius: 5px;
                    height: 100%;
                    width: 100%;
                }
            }

            #character_health:hover{
                #health_indicator{
                    color: #0d870d; 
                }
            }

            #character_mana{
                background-color: black;

                #mana_indicator{
                    color: #6565bf;
                }

                #current_mana{
                    background-color: #6565bf;
                    color: #6565bf;
                    border-radius: 5px;
                    height: 100%;
                    width: 100%;
                }
            }

            #character_mana:hover{
                #mana_indicator{
                    color: #0d0d87;
                }
            }

            .indicator{
                position: absolute;
                width: 100%;
            }
        }
        
        #character_stats{
            background-color: rgba(255, 255, 255, 0.4);
            border: 5px ridge lightgray;
            border-radius: $default-border-radius;
            padding: 5px 10px;

            .icon-stats, .stats_container{
                font-size: 35px;
            }

            @media only screen and (max-height: 800px){
                .icon-stats, .stats_container{
                    font-size: 30px; 
                }
            }

            .icon-stats::before{
                color: black;
            }

            .stats_container{
                color: #ffbf00;
                font-family: fantasy;
                font-weight: bold;
                text-align: center;
                cursor: default;
            }

            .row > .d-flex > div{
                width: 100%;
            }


        }
    }
    
    #character_body{
        padding: 10px 0;

        #character_equip{
            > img{
                height: 100%;
                margin: auto;
            }

            .equip{
                border: 3px ridge gray;
                height: 8vh;
                position: absolute;
                width: 8vh;
            }
        }

        #character_talents{
            background-color: rgba(255, 255, 255, 0.4);
            padding: 0;

            ul a.active, #talents_categories{
                background-color: rgba(255, 255, 255, 1);
            }

            ul{
                z-index: 1001;

                li{
                    text-align: center;
                    width: 16.5%;

                    a.active{
                        border: $default-border;
                        border-bottom: none;
                        border-radius: $default-border-radius $default-border-radius 0 0;
                    }
                }
            }

            @media only screen and (max-width: 1650px){
                ul{
                    font-size: 14px;
                }
            }

            @media only screen and (max-width: 1500px){
                ul{
                    font-size: 11px;
                }
            }
            
            #talents_categories{
                border: $default-border;
                border-radius: 0 $default-border-radius $default-border-radius $default-border-radius;
                margin-top: -5px;
                z-index: 1000;

                div[class^="col-"], div[class*=" col-"]{
                    max-height: 100%;
                }


                #talents_general{
                    padding: 0;

                    > .row.showed{
                        background-color: rgba(150, 150, 150, 0.3);
                    }

                    > .row{
                        cursor: pointer;
                        height: 19%;
                        margin: 1% 0;
                        padding: 3px 10px;

                        .talent_header{
                            h1{
                                font-size: 27px;
                            }
                        }

                        .talent_row{

                            img{
                                border: 2px solid lightgray;
                                border-radius: $default-border-radius;
                                display: block;
                                margin: auto;
                                max-height: 100%;
                                max-width: 80%;
                            }
                            
                        }
                    }
                } 
                
                .talents_category{
                    
                    .container-fluid{
                        height: 100%;
                    }

                    .talent{
                        padding: 5px 0;

                        .talent_info{
                            img{
                                max-height: 100%;
                                max-width: 80%;
                            }
                        }
                    }
                }
            }
        
        }

        #character_code_environment{
            background-color: rgb(30, 30, 30);
            font-family: Consolas, sans-serif;
            padding: 0;

            #code_paper{
                height: 85%;

                p{
                    color: lightyellow;
                    padding: 0 10px;
                }
            }

            #code_terminal{
                border-top: 1px solid lightgray;
                height: 15%;
                overflow: hidden;

                p{
                    color: green;
                    padding: 0 10px;
                }
            }
        }

        #character_inventory{ 
            #inventory_space{
                height: 85%;
                width: 100%;

                img{
                    background-color: black;
                }
            }

            #inventory_button{
                height: 15%;
                margin-top: 5px;
                position: relative;
                text-align: center;
                width: 100%;
                z-index: 1002;

                i{
                    font-size: 10vh;
                }
                
                i:hover{
                    .path2::before{
                        color: black;
                    }

                    .path1::before{
                        color: white;
                    }
                }
            }

        }
    }

    #character_abilities{
        #abilities_bar{
            background-color: rgba(0, 0, 0, 0.5);
            border: 8px ridge gray;
            border-radius: $default-border-radius;

            .col-1{
                background-size: 100% 100%;
                border-right: 5px ridge gray;
                padding: 0;

                h1{
                    color: white;
                    font-family: fantasy;
                    font-size: 23px;
                    position: absolute;
                    right: 2px;
                    top: 0px;
                    z-index: 1000;
                }

                .loading_screen{
                    background-color: rgba(0, 0, 0, 0.5);
                    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%);
                    height: 100%;
                    position: absolute;
                    width: 100%;
                    z-index: 1002;
                }

                .loading_screen.loading{
                    animation: loading 1s linear;
                }
            }

            .col-1.set{
                background-color: rgba(0, 0, 0, 1); 
            }

            .col-1.activated{
                box-shadow: inset 0px 0px 2px 3px white;
            }

            .col-1:last-child{
                border-right: 5px;
            }
        }
    }
}

// This is here to be used also for fake inventory.
#inventory_internal {
    height: 90%;
    width: 90%;
    margin: auto;
    
    .row{
        background-color: rgba(0, 0, 0, 0.5);
        border-left: $default-border;
        border-right: $default-border;
        height: 20%;
        margin: 0 20px;

        div{
            padding: 3px;

            img{
                border: 2px ridge gray;
                width: 100%;
                height: 100%;
            }

            img[src="Styles/Images/knapsack.png"]{
                opacity: 0.7;
            }
        }
    }

    .row:first-child{
        border-top: $default-border;
    }

    .row:last-child{
        border-bottom: $default-border;
    }
}


//*****************************************************************************************//
//*****************************************************************************************//
//***************************************** MOBILE ****************************************//
//*****************************************************************************************//
//*****************************************************************************************//

#mobile{
    display: none;
}

@media only screen and (max-width: 1200px){
    #selection, #character, .fake_body, #fake_character_info, #fake_character_avatar{
        display: none !important;
    }

    #mobile{
        color: #ffbf00;
        display: block;
        font-family: fantasy;
        text-align: center;
    }
}


//*****************************************************************************************//
//*****************************************************************************************//
//************************************ BLINKING CURSOR ************************************//
//*****************************************************************************************//
//*****************************************************************************************//

$blinking_color : lightyellow;

#blinking_cursor {
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

//*****************************************************************************************//
//*****************************************************************************************//
//*************************************** ANIMATION ***************************************//
//*****************************************************************************************//
//*****************************************************************************************//

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @-o-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

@include keyframes(blink) {
  from, to {
    color: transparent;
  }
  50% {
    color: $blinking_color;
  }
}

@include keyframes(loading) {
    0% {
        clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 50% 0%, 50% 50%);
    }
    12% {
        clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 50% 0%, 50% 50%);
    }
    37% {
        clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 0% 100%, 0% 0%, 50% 0%, 50% 50%);
    }
    62% {
        clip-path: polygon(0% 100%, 0% 100%, 0% 100%, 0% 100%, 0% 0%, 50% 0%, 50% 50%);
    }
    87% {
        clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 50% 0%, 50% 50%);
    }
    100% {
        clip-path: polygon(50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 50%);
    }
}