//*****************************************************************************************//
//*****************************************************************************************//
//********************************** VARIABLES AND MIXIN **********************************//
//*****************************************************************************************//
//*****************************************************************************************//

@import "Icons/icomoon";

$images-folder : 'Images/';
$fonts-folder : 'Fonts/';

$main-style : 'bright';

$primary-color: #3500ff;        // blue
$secondary-color: #afbfc0;      // grey
$black-color: #0e0f19;          // background / outline
$white-color: #ffffff;          // mostly text
$third-color: #139a43;
$fourth-color: #cc2936;

@if $main-style == 'soft'
{
    $primary-color: #3500ff;        // blue
    $secondary-color: #afbfc0;      // grey
    $black-color: #0e0f19;          // background / outline
    $white-color: #ffffff;          // mostly text
    $third-color: #139a43;
    $fourth-color: #cc2936;
}

@mixin background-opacity($opacity, $color: #FFFFFF){
    position: relative;

    &:before
    {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        background-color: $color;
        opacity: $opacity;

        border-radius: inherit;
    }
}

@function to-percentage($value) {  
    @return #{$value + '%'};  
}



// Those are just an empiric breakpoint.
@mixin mobile {
    @media (max-width: 800px) {
        @content;
    }
}

@mixin flat-screen {
    @media (min-aspect-ratio: 3/2) {
        @content;
    }
}

@mixin landscape {
    @media (min-aspect-ratio: 1/1) {
        @content;
    }
}

@mixin portrait {
    @media not all and (min-aspect-ratio: 1/1) {
        @content;
    }
}

@mixin mobile-portrait {
    @include mobile {
        @include portrait {
            @content;
        }
    }
}

@mixin supported {
    @include landscape
    {
        @media (min-height: 600px) and (min-width: 800px)
        {
            @content;
        }
    }

    @include portrait
    {
        @media (min-height: 500px) and (min-width: 320px)
        {
            @content;
        }
    }
}


//*****************************************************************************************//
//*****************************************************************************************//
//***************************************** FONTS *****************************************//
//*****************************************************************************************//
//*****************************************************************************************//

@font-face 
{
    font-family: marioFont;
    src: url($fonts-folder + 'Pixel_Emulator.otf');
}

@font-face 
{
    font-family: wowFont;
    src: url($fonts-folder + 'LifeCraft_Font.woff') format('woff'),
        url($fonts-folder + 'LifeCraft_Font.ttf') format('truetype');
}

@font-face 
{
    font-family: swFont;
    src: url($fonts-folder + 'SfDistantGalaxy.ttf') format('truetype');
}








//*****************************************************************************************//
//*****************************************************************************************//
//**************************************** GENERAL ****************************************//
//*****************************************************************************************//
//*****************************************************************************************//

body
{
    height: 100vh;

    color: $white-color;

    background-color: $black-color;

    overflow: hidden;

    #m-page 
    {
        height: 100%;
        width: 100%;
        display: none;

        @include supported
        {
            display: block;
        }
    }
}   

.h-divider //https://codepen.io/MiKr13/pen/yjaNYp
{
    margin: 3vh 0;

    position: relative;

    .m-shadow
    {
        overflow: hidden;
        height: 20px;
    }

    .m-shadow:after 
    {
        content: '';
        display: block;
        margin: -25px auto 0;
        width: 100%;
        height: 25px;
        border-radius: 125px/12px;
        box-shadow: 0 0 8px $secondary-color;
    }
}


// MY CLASSES

.m-circle
{
    border-radius: 100%
}

.m-fit-text 
{
    height: fit-content;
    margin: 0;
    position: relative;

    // Set this font size to correclty set-up initial size.
    font-size: 20px;
}

a.m-no-decoration
{
    color:inherit;
    text-decoration: none;
}

.m-hidden
{
    display: none;
}

.m-no-mobile
{
    @include mobile 
    {
        display: none;
    }
}

.m-primary-color
{
    color: $primary-color;
}

.m-secondary-color
{
    color: $secondary-color;
}




//*****************************************************************************************//
//*****************************************************************************************//
//*********************************** LOADING / ERROR *************************************//
//*****************************************************************************************//
//*****************************************************************************************//

#m-loading, #m-error
{
    background-color: black;
    width: 100%;
    height: 100%;

    position: relative;
    z-index: 1000;

    > div 
    {
        width: 100%;

        > #m-loading-image, > #m-error-image
        {
            display: block;
            margin: auto;
            width: 150px;
        }

        > #m-loading-tip, > #m-error-message
        {
            text-align: center;
        }

        > #m-loading-tip.m-black
        {
            color: black;
        }
    }
}

#m-loading
{
    font-family: wowFont;

    > div 
    {
        bottom: 35%;
        position: absolute;

        #m-loading-tip
        {
            color: rgb(187, 165, 89);
        }

        #m-loading-bar
        {
            background-color: transparent;
            border: 2px solid rgb(187, 165, 89);
            margin: auto;
            width: 80%;

            > #m-loading-bar-percentage
            {
                background-image: linear-gradient(rgba(14, 27, 60, 0.8), rgba(72, 110, 120, 0.6), rgba(14, 27, 60, 0.8));
            }
        }
    }
}


#m-error
{
    z-index: 1001;
    font-family: marioFont;

    #m-error-message
    {
        color: white;
        font-size: 20px;
    }

    @include supported 
    {
        display: none !important;
    }
}


//*****************************************************************************************//
//*****************************************************************************************//
//**************************************** HEADER *****************************************//
//*****************************************************************************************//
//*****************************************************************************************//


//*****************************************************************************************//
//*****************************************************************************************//
//**************************************** HEADER *****************************************//
//*****************************************************************************************//
//*****************************************************************************************//

header
{
}






//*****************************************************************************************//
//*****************************************************************************************//
//************************************** MENU GENERAL *************************************//
//*****************************************************************************************//
//*****************************************************************************************//



.sm-redirect-item, .sm-redirect-blank-item
{
    cursor: pointer;
}

#sm-viewport
{
}


#m-menu-container
{
    .m-background
    {
        height: 35vh;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        margin-bottom: 4rem;

        @if $main-style == 'bright'
        {
            @include background-opacity(0.5, $black-color);
        }
        @else
        {
            @include background-opacity(0.4);
        }
    }
}


//*****************************************************************************************//
//*****************************************************************************************//
//*************************************** MAIN MENU ***************************************//
//*****************************************************************************************//
//*****************************************************************************************//


#sm-main-menu
{
    padding: 2rem 1vw;

    > .sm-layout
    {

        #m-carousel
        {
            overflow: hidden;

            position: relative;

            #m-carousel-container
            {
                justify-content: space-evenly;

                padding: 0px;
            }

            .sm-item
            {
                width: 20vmin;
                height: 20vmin;

                border-radius: 20%;

                overflow: hidden;

                &.m-carousel-item-active, &.m-item-selected
                {
                    .m-item-hover
                    {
                        display: flex !important;
                    }
                }

                &.m-item-selected
                {
                    overflow: visible;
                }

                .m-item-title
                {
                    background-color: $secondary-color;

                    padding: 15px;
                    
                    text-align: center;

                    h1 
                    {
                        font-size: 2rem;
                    }
                }

                .m-item-hover
                {
                    background-color: $primary-color;

                    display: none !important;
                    position: relative;

                    span, h1, i
                    {
                        color: $secondary-color; 
                        position: absolute;
                    }

                    span, i
                    {
                        font-size: 10vmin;
                    }
                }

                .m-item-title, .m-item-hover
                {
                    border-radius: 20%;
                }

                &#m-main-esc
                {
                    display: none;
                    position: absolute;
                    right: 0;
                    top: 0;

                    transform: scale(0.35, 0.35);
                    transform-origin: 100% 0%;

                    .m-item-title
                    {
                        background-color: $primary-color;

                        #m-main-esc-key
                        {
                            background-color: $secondary-color;
                            
                            border-radius: 3px;
                            margin-right: 5px;
                            padding: 0 2px;
                        }
                    }
                }
            }

            .m-carousel-control
            {
                height: 100%;
                width: 1%;

                // background-color: rgba(1, 0, 0, 0.5);

                position: absolute;
                top: 0;

                &.m-carousel-control-left
                {
                    left: 0;
                }

                &.m-carousel-control-right
                {
                    right: 0;
                }
            }
        }
    }
}


//*****************************************************************************************//
//*****************************************************************************************//
//*************************************** ABOUT ME ****************************************//
//*****************************************************************************************//
//*****************************************************************************************//

#m-about-me
{
    .sm-main-layout
    {
        width: 98%;
        margin: auto;

        #m-aboutme-left
        {
            #m-my-photo
            {
                img
                {
                    border-radius: 15%;
                }
            }

            #m-contact-me
            {
                .col
                {
                    background-color: $secondary-color;
                    border-radius: 20px;

                    h4
                    {
                        margin: 0px;
                    }
                }
            }
        }

        #m-aboutme-right
        {
            padding: 0px;

            #m-aboutme-header
            {
                #m-aboutme-name
                {
                    color: $primary-color;

                    img 
                    {
                        height: 2.5rem;
                    }
                }

                #m-aboutme-title
                {
                    color: $primary-color;
                    padding-left: 2rem;

                    i 
                    {
                        font-size: 2rem;

                        margin: 0 0.6rem;
                    }
                }
            }

            #m-aboutme-body
            {
                p
                {
                    font-size: 1.5rem;
                }
            }
        }

        #m-aboutme-doggo
        {
            margin-top: 10vh;

            h1
            {
                color: $primary-color;
            }

            img
            {
                width: 90vmin;

                margin-top: 5px;
            }
        }
    }
}





//*****************************************************************************************//
//*****************************************************************************************//
//**************************************** SKILLS *****************************************//
//*****************************************************************************************//
//*****************************************************************************************//

#m-skills
{
    .sm-main-layout
    {
        #m-skills-accordion
        {
            .m-skill-left
            {
                padding: .75rem;
                
                i
                {
                    font-size: 5rem;
                }

                svg, img
                {
                    height: 5rem;
                }

                $color-name: ('copper', 'bronze', 'silver', 'gold', 'platinum');
                $codor-code: (#B87333, #cd7f32, #c0c0c0, #ffd700, #e5e4e2);

                @for $i from 1 through length($color-name) {
                    $name: nth($color-name, $i);
                    $code: nth($codor-code, $i);

                    i.#{$name} 
                    {
                        color: $code;
                        
                        font-size: 3.5rem;
                    }
                }
            }

            .m-skill-right
            {
                padding: .75rem 1.25rem;
                
                .m-skill-header
                {
                    font-weight: bold;
                    font-size: 1.2rem;

                    margin-bottom: 5px;
                }

                .m-skill-desc
                {
                }
            }
        }
    }
}







//*****************************************************************************************//
//*****************************************************************************************//
//************************************** EXPERIENCE ***************************************//
//*****************************************************************************************//
//*****************************************************************************************//


#m-experience
{
    .sm-main-layout
    {
        #m-exp-accordion
        {
            .m-exp
            {
                margin-bottom: 10px;
                padding: 10px;

                border: $secondary-color 2px solid;
                border-radius: 7px;

                @include background-opacity(0.4);

                &.m-active
                {
                    border: $primary-color 2px solid;
                }

                .m-exp-header
                {
                    .progress
                    {
                        .progress-bar
                        {
                            z-index: 10;
                            transition: clip-path 0.5s linear;
                        }
                    }
                }

                .m-exp-body
                {
                }
            }
        }
    }
}




//*****************************************************************************************//
//*****************************************************************************************//
//*************************************** PROJECTS ****************************************//
//*****************************************************************************************//
//*****************************************************************************************//

#m-projects
{
    .sm-main-layout
    {
        >.row
        {
            padding: 0 30px;
            margin-top: 2rem;
            margin-bottom: 10px;

            >.col-12 
            {
                padding: 0;

                >h1
                {
                    color: $primary-color;
                }
            }

            .m-game
            {
                height: 15vw;
                
                padding: 0px 8px 5px 0px;

                .m-game-container
                {
                    padding: 0;

                    position: relative;

                    .m-game-background
                    {
                        position: relative;
                        background-size: cover;
                    }

                    .m-game-info
                    {
                        bottom: 20px;
                        left: 20px;
                        position: absolute;
                        z-index: 10;
                        
                    }
                }
                

                &:not(.sm-active)
                {
                    .m-game-container
                    {
                        @include background-opacity(0.4, black);

                        &:before
                        {
                            z-index: 1;
                        }
                    }
                }
            }
        }
    }
}






//*****************************************************************************************//
//*****************************************************************************************//
//**************************************** CREDITS ****************************************//
//*****************************************************************************************//
//*****************************************************************************************//

#m-credits
{    
    .sm-layout
    {
    }
}

#m-credits .sm-layout, #m-sw-box
{
    div
    {
        padding-bottom: 5rem;

        h1, h3, a 
        {
            text-align: center;
        }
    }
}

#m-sw-container
{
    display: none;

    height: 100vh;
    position: absolute;
    width: 100vw;

    #m-sw-credits
    {
        height: 100%;
        position: relative;
        width: 100%;

        #m-sw-box
        {
            height: 95%;
            width: 100%;
            position: absolute;

            overflow: hidden;

            transform-origin: 50% 100%;
            transform: perspective(350px) rotateX(25deg);
        }

        #m-sw-intro
        {
            left: 50%;
            position: absolute;
            top: 40%;

            div 
            {
                left: -50%;
                position: relative;

                h1
                {
                    display: none;

                    font-family: swFont;
                    text-align: center;
                }

                p
                {
                    display: none;
                }
            }
        }
    }
}



//*****************************************************************************************//
//*****************************************************************************************//
//***************************************** NAVBAR ****************************************//
//*****************************************************************************************//
//*****************************************************************************************//

#m-navbar
{
    background-color: rgba(255, 255, 255, 0.4);

    // Position and size
    position: absolute;
    bottom: 10px;
    right: 0;
    height: 40px;
    width: 100%;
    margin: 0;

    > div
    {
        font-weight: bold;
        margin-right: 20px;

        cursor: default;
    }
}


// Include the css for elements that change in different resolution
@import 'index_res'; 

// Include the css for custom scrollbar
@import 'scrollbar'; 