//*****************************************************************************************//
//*****************************************************************************************//
//********************************** VARIABLES AND MIXIN **********************************//
//*****************************************************************************************//
//*****************************************************************************************//

//*****************************************************************************************//
//*****************************************************************************************//
//**************************************** HEADER *****************************************//
//*****************************************************************************************//
//*****************************************************************************************//

header
{
    @include mobile-portrait
    {
        margin-bottom: 8px;

        .m-sushi-img
        {
            img
            {
                max-height: 9.5vmin;
            }
        }

        #m-title
        {
            h1
            {
                font-size: 7.5vmin;
            }
        }
    }
}


//*****************************************************************************************//
//*****************************************************************************************//
//************************************ MENU GENERAL ***************************************//
//*****************************************************************************************//
//*****************************************************************************************//


#sm-viewport
{
    @include mobile-portrait
    {
        margin: 0 2.5vw;   
    }
}



//*****************************************************************************************//
//*****************************************************************************************//
//************************************** MAIN MENU ****************************************//
//*****************************************************************************************//
//*****************************************************************************************//

#sm-main-menu
{
    .sm-portrait-layout
    {
        $item-num: 6;

        > .row
        {
            height: to-percentage(100 / $item-num);

            .m-item-hover 
            {
                span
                {
                    font-size: 40px;
                }
            }
        }

        @include mobile 
        {
            .sm-item 
            {
                h1.m-fit-text
                {
                    font-size: 31px !important;
                }
            }
        }
    }
}







//*****************************************************************************************//
//*****************************************************************************************//
//*************************************** ABOUT ME ****************************************//
//*****************************************************************************************//
//*****************************************************************************************//

#m-about-me
{
    .sm-main-layout
    {
        @include mobile-portrait
        {
            #m-my-photo
            {
                > img 
                {
                    margin: 0 !important;
                }
            }
        }
    }
}


#m-experience
{
    @include mobile-portrait 
    {
        padding: 5px 10px;
    }
}





//*****************************************************************************************//
//*****************************************************************************************//
//*************************************** PROJECTS ****************************************//
//*****************************************************************************************//
//*****************************************************************************************//

#m-projects
{
    .sm-main-layout 
    {
        .m-projects-container
        {
            .m-projects-description
            {
                @include mobile-portrait
                {
                    padding: 5px;
                }
            }
        }
    }
}






//*****************************************************************************************//
//*****************************************************************************************//
//**************************************** CREDITS ****************************************//
//*****************************************************************************************//
//*****************************************************************************************//

#m-credits
{

    @include mobile-portrait 
    {
        .sm-layout
        {
            > div 
            {
                h1
                {
                    color: $secondary-color;
                    font-size: 5vmin;
                }
    
                h3
                {
                    font-size: 4.3vmin;
                }
            }
        }
    }        
}





//*****************************************************************************************//
//*****************************************************************************************//
//***************************************** NAVBAR ****************************************//
//*****************************************************************************************//
//*****************************************************************************************//

#m-navbar
{
    @include portrait
    {
        @media screen and (max-height: 620px) and (max-width: 380px) {
            bottom: 7px;
            height: 30px;
        }
    }
}