//*****************************************************************************************//
//*****************************************************************************************//
//********************************** VARIABLES AND MIXIN **********************************//
//*****************************************************************************************//
//*****************************************************************************************//

$old-style-folder : '../Old/Styles/';
$old-images-folder : '../Old/Styles/Images/';
$curr-images-folder : 'Images/';

$menu-item-background : #ecf0f1;
$menu-item-background-hovered : #34495e; 

$menu-item-inside-color : #e74c3c;

$secondary-color: #337ab7;

@mixin background-opacity($opacity){
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, $opacity);
}

@function to-percentage($value) {  
    @return #{$value + '%'};  
}

//*****************************************************************************************//
//*****************************************************************************************//
//**************************************** GENERAL ****************************************//
//*****************************************************************************************//
//*****************************************************************************************//

body
{
    // Set fullscreen size.
    height: 100vh;
    width: 100vw;

    background-image: url($old-images-folder + 'mybackground.jpg');
    background-size: cover;
}   

body:before
{
    @include background-opacity(0.2);
    z-index: -1;
}


// MY CLASSES

.m-circle
{
    border-radius: 100%
}

.m-fit-text 
{
    font-size: 20px;
    height: fit-content;
    margin: 0;
    position: relative;
}

.m-slider-percentage
{
    position: absolute;
}

.m-slider
{
    border: none;
}

a.m-no-decoration
{
    color:inherit;
    text-decoration: none;
}





//*****************************************************************************************//
//*****************************************************************************************//
//**************************************** HEADER *****************************************//
//*****************************************************************************************//
//*****************************************************************************************//

header
{
    margin-bottom: 20px;
    padding: 10px 0;

    .m-sushi-img
    {
        #m-left-sushi-img
        {
            float: right;
        }

        #m-right-sushi-img
        {
            float: left;
        }

        img
        {
            max-height: 8vmin;
        }
    }

    #m-title
    {
        text-align: center;

        h1
        {
            color: $secondary-color;
            font-size: 6vmin;
        }
    }
}






//*****************************************************************************************//
//*****************************************************************************************//
//************************************** MENU GENERAL *************************************//
//*****************************************************************************************//
//*****************************************************************************************//

#sm-viewport
{
    padding: 0 5vw;

    .sm-menu
    {
        .sm-layout {
            height: 100%;
            width: 100%;

            .sm-item-container
            {
                padding: 1vmin;

                .sm-item
                {
                    width:100%;
                    height: 100%;

                    text-align: center;

                    overflow: hidden;

                    .m-item-title
                    {
                        background-color: $menu-item-background;
                    }

                    // This div is initially hidden, then becomes visible when overing through js.
                    .m-item-hover
                    {
                        background-color: $menu-item-background-hovered;

                        display: none !important;
                        position: relative;

                        span, h1
                        {
                            color: #e74c3c; 
                        }
                    }

                    .m-item-hover.m-active
                    {
                        display: flex !important;
                    }
                }
            }
        }
        
    }
}





//*****************************************************************************************//
//*****************************************************************************************//
//*************************************** MAIN MENU ***************************************//
//*****************************************************************************************//
//*****************************************************************************************//

#sm-main-menu
{
    .sm-main-layout 
    {
        .m-first-col
        {
            $first-child-height: 40;

            .row:first-child
            {
                height: to-percentage($first-child-height);
            }

            .row:nth-child(2)
            {
                height: to-percentage(100 - $first-child-height);
            }
        }
    }
}





//*****************************************************************************************//
//*****************************************************************************************//
//*************************************** ABOUT ME ****************************************//
//*****************************************************************************************//
//*****************************************************************************************//

#m-about-me
{
    .sm-main-layout 
    {
        $header-height: 25;

        #m-aboutme-header
        {
            height: to-percentage($header-height);
        
            #m-my-photo
            {
                img 
                {
                    padding-left: 20px;
                }
            }
        }

        #m-aboutme-body
        {
            height: to-percentage(100 - $header-height);
            
            padding-top: 20px;
        }

        #m-about-me, #m-aboutme-body 
        {
            margin: 0;
        }
    }
}






//*****************************************************************************************//
//*****************************************************************************************//
//**************************************** SKILLS *****************************************//
//*****************************************************************************************//
//*****************************************************************************************//

#m-skills
{
    > .sm-main-layout 
    {
        > .row 
        {
            $row-number: 4;
    
            height: to-percentage(100 / $row-number);

            > .col
            {
                $header-height: 25;
                
                padding: 0 10px;
                
                .m-skills-header
                {
                    height: to-percentage($header-height);
    
                    h2, i 
                    {
                        display: inline;
                        font-size: 3.3vmin;
                    }
                }
    
                .m-skills-description
                {
                    height: to-percentage(100 - $header-height);
    
                }
            }
        }
    }
}







//*****************************************************************************************//
//*****************************************************************************************//
//************************************** EXPERIENCE ***************************************//
//*****************************************************************************************//
//*****************************************************************************************//

#m-experience
{
    .sm-main-layout 
    {
        $education-height: 30;

        .m-exp-date > h2, .m-exp-title > h1
        {
            margin: 0;
        }

        .m-exp-descr
        {
            .m-exp-location
            {
                color: $secondary-color;
                font-size: 20px;

                span
                {
                    margin-right: 10px;
                }
            }

            p
            {
                padding-top: 10px;
            }
        }

        #m-education
        {
            height: to-percentage($education-height);

            #m-education-bachelor
            {
                background-color: red;
            }

            #m-education-master
            {
                background-color: green;
            }
        }

        #m-job
        {
            height: to-percentage(100 - $education-height);

            #m-job-internship
            {
                background-color: red;
            }

            #m-job-dojo
            {
                background-color: green;
            }

            #m-job-pisa
            {
                div:first-child
                {
                    background-color: green;
                }

                div:nth-child(2)
                {
                    background-color: blue;
                }
            }

            #m-job-milestone
            {
                background-color: purple;
            }
        }
    }
}






//*****************************************************************************************//
//*****************************************************************************************//
//*************************************** PROJECTS ****************************************//
//*****************************************************************************************//
//*****************************************************************************************//

#m-projects
{
    .sm-main-layout 
    {
        .m-projects-row
        {
            color: $secondary-color;
            font-weight: bold;
            font-size: 25px;
            padding: 5px;
        }

        .m-projects-row.active
        {
            background-color: rgba(255, 255, 255, 0.5);
        }

        .m-projects-container
        {
            $project-banner-height: 30;

            .m-projects-banner
            {
                height: to-percentage($project-banner-height);

                background-size: cover;

                // To not over-extend the background opacity.
                position: relative;

                h1
                {
                    color: $secondary-color;
                    text-align: center;

                    // To be drawed over the background opacity
                    z-index: 100;
                }

            }

            .m-projects-banner::before
            {
                @include background-opacity(0.4);
            }

            .m-projects-description
            {
                height: to-percentage(100 - $project-banner-height);

                padding-top: 10px;

                // To not over-extend the background opacity.
                position: relative;
            }

            .m-projects-description::before
            {
                @include background-opacity(0.4);
            }
        }
    }
}





//*****************************************************************************************//
//*****************************************************************************************//
//************************************** CONTACT ME ***************************************//
//*****************************************************************************************//
//*****************************************************************************************//

#m-contact-me
{
    .sm-main-layout 
    {
        $contact-me-items: 3;

        > .row
        {
            height: to-percentage(100 / $contact-me-items);    

            .m-item-title
            {
                font-size: 7.5vmax;
            }

            .m-item-hover
            {
                h1
                {
                    margin: 0;

                    // This is to avoid father's height stretching (CSS MAGIC).
                    position: absolute;
                }
            }
        }
    }
}





//*****************************************************************************************//
//*****************************************************************************************//
//**************************************** CREDITS ****************************************//
//*****************************************************************************************//
//*****************************************************************************************//

#m-credits
{
    .sm-main-layout 
    {
        background-color: rgba(255, 255, 255, 0.4);
        
        > div 
        {
            text-align: center;

            padding-top: 20px;

            h1
            {
                color: $secondary-color;
                font-size: 4.1vmin;
            }

            h3
            {
                font-size: 3.3vmin;
            }
        }

        > div:first-child
        {
            padding-top: 5px;
        }
    }
}







//*****************************************************************************************//
//*****************************************************************************************//
//***************************************** NAVBAR ****************************************//
//*****************************************************************************************//
//*****************************************************************************************//

#m-navbar
{
    background-color: rgba(255, 255, 255, 0.4);

    // Position and size
    position: absolute;
    bottom: 10px;
    right: 0;
    height: 40px;
    width: 100%;
    margin: 0;

    > div
    {
        font-weight: bold;
        margin-right: 20px;

        cursor: default;
    }
}