//*****************************************************************************************//
//*****************************************************************************************//
//********************************** VARIABLES AND MIXIN **********************************//
//*****************************************************************************************//
//*****************************************************************************************//

@import "Icons/icomoon";

$images-folder : 'Images/';
$fonts-folder : 'Fonts/';

$menu-item-background : #ecf0f1;
$menu-item-background-hovered : #34495e; 

$menu-item-inside-color : #e74c3c;

$secondary-color: #337ab7;

@mixin background-opacity($opacity){
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, $opacity);
}

@function to-percentage($value) {  
    @return #{$value + '%'};  
}



// Those are just an empiric breakpoint.
@mixin mobile {
    @media (max-width: 800px) {
        @content;
    }
}

@mixin flat-screen {
    @media (min-aspect-ratio: 3/2) {
        @content;
    }
}

@mixin landscape {
    @media (min-aspect-ratio: 1/1) {
        @content;
    }
}

@mixin portrait {
    @media not all and (min-aspect-ratio: 1/1) {
        @content;
    }
}

@mixin mobile-portrait {
    @include mobile {
        @include portrait {
            @content;
        }
    }
}

@mixin supported {
    @include landscape
    {
        @media (min-height: 600px) and (min-width: 800px)
        {
            @content;
        }
    }

    @include portrait
    {
        @media (min-height: 500px) and (min-width: 320px)
        {
            @content;
        }
    }
}






//*****************************************************************************************//
//*****************************************************************************************//
//***************************************** FONTS *****************************************//
//*****************************************************************************************//
//*****************************************************************************************//

@font-face 
{
    font-family: marioFont;
    src: url($fonts-folder + 'Pixel_Emulator.otf');
}

@font-face 
{
    font-family: wowFont;
    src: url($fonts-folder + 'LifeCraft_Font.ttf');
}








//*****************************************************************************************//
//*****************************************************************************************//
//**************************************** GENERAL ****************************************//
//*****************************************************************************************//
//*****************************************************************************************//

body
{
    #m-page 
    {
        height: 100%;
        width: 100%;
        display: none;

        @include supported
        {
            display: block;
        }
    }
}   

body:before
{
    @include background-opacity(0.2);
    z-index: -1;
}


// MY CLASSES

.m-circle
{
    border-radius: 100%
}

.m-fit-text 
{
    height: fit-content;
    margin: 0;
    position: relative;

    // Set this font size to correclty set-up initial size.
    font-size: 20px;
}

.m-slider-percentage
{
    position: absolute;
}

.m-slider
{
    border: none;
}

a.m-no-decoration
{
    color:inherit;
    text-decoration: none;
}

.m-hidden
{
    display: none;
}

.m-no-mobile
{
    @include mobile 
    {
        display: none;
    }
}







//*****************************************************************************************//
//*****************************************************************************************//
//*********************************** LOADING / ERROR *************************************//
//*****************************************************************************************//
//*****************************************************************************************//

#m-loading, #m-error
{
    background-color: black;
    width: 100%;
    height: 100%;

    position: relative;
    z-index: 1000;

    > div 
    {
        width: 100%;

        > #m-loading-image, > #m-error-image
        {
            display: block;
            margin: auto;
            width: 150px;
        }

        > #m-loading-tip, > #m-error-message
        {
            text-align: center;
        }

        > #m-loading-tip.m-black
        {
            color: black;
        }
    }
}

#m-loading
{
    font-family: wowFont;

    > div 
    {
        bottom: 35%;
        position: absolute;

        #m-loading-tip
        {
            color: rgb(187, 165, 89);
        }

        #m-loading-bar
        {
            background-color: transparent;
            border: 2px solid rgb(187, 165, 89);
            margin: auto;
            width: 80%;

            > #m-loading-bar-percentage
            {
                background-image: linear-gradient(rgba(14, 27, 60, 0.8), rgba(72, 110, 120, 0.6), rgba(14, 27, 60, 0.8));
            }
        }
    }
}


#m-error
{
    z-index: 1001;
    font-family: marioFont;

    #m-error-message
    {
        color: white;
        font-size: 20px;
    }

    @include supported 
    {
        display: none !important;
    }
}





//*****************************************************************************************//
//*****************************************************************************************//
//**************************************** HEADER *****************************************//
//*****************************************************************************************//
//*****************************************************************************************//

header
{
    margin-bottom: 20px;
    padding: 10px 0;

    .m-sushi-img
    {
        #m-left-sushi-img
        {
            float: right;
        }

        #m-right-sushi-img
        {
            float: left;
        }

        img
        {
            max-height: 8vmin;
        }
    }

    #m-title
    {
        text-align: center;

        h1
        {
            color: $secondary-color;
            font-size: 6vmin;
        }
    }
}






//*****************************************************************************************//
//*****************************************************************************************//
//************************************** MENU GENERAL *************************************//
//*****************************************************************************************//
//*****************************************************************************************//



.sm-redirect-item, .sm-redirect-blank-item
{
    cursor: pointer;
}

#sm-viewport
{
    padding: 0 2vw;
}


//*****************************************************************************************//
//*****************************************************************************************//
//*************************************** MAIN MENU ***************************************//
//*****************************************************************************************//
//*****************************************************************************************//


#sm-main-menu
{

    > .sm-layout
    {

        #m-carousel
        {
            overflow: hidden;

            position: relative;

            #m-carousel-container
            {
                justify-content: space-evenly;

                padding: 0px;

                .sm-item
                {
                    width: 200px;
                    height: 200px;

                    border-radius: 20%;

                    overflow: hidden;

                    &.m-carousel-item-active
                    {
                        .m-item-hover
                        {
                            display: flex !important;
                        }
                    }

                    .m-item-title
                    {
                        background-color: blue;

                        padding: 15px;
                        
                        text-align: center;

                        h1 
                        {
                            font-size: 30px;
                        }
                    }

                    .m-item-hover
                    {
                        background-color: red;

                        display: none !important;
                        position: relative;

                        span, h1, i
                        {
                            color: #e74c3c; 
                            position: absolute;
                        }

                        span
                        {
                            font-size: 10vmin;
                        }
                    }
                }
            }

            .m-carousel-control
            {
                height: 200px;
                width: 1%;

                background-color: rgba(1, 0, 0, 0.5);

                position: absolute;
                top: 0;

                &.m-carousel-control-left
                {
                    left: 0;
                }

                &.m-carousel-control-right
                {
                    right: 0;
                }
            }
        }
    }
}


//*****************************************************************************************//
//*****************************************************************************************//
//*************************************** ABOUT ME ****************************************//
//*****************************************************************************************//
//*****************************************************************************************//

#m-about-me
{
    .sm-main-layout
    {
        #m-aboutme-right
        {
            #m-my-photo
            {
                img
                {
                    border-radius: 15%;

                    width: 80%;
                }
            }

            #m-contact-me
            {
                $font-size: 1.5rem;

                padding-top: 5vh;

                .col
                {
                    background-color: blue;
                    border-radius: 20px;
                    height: ($font-size * 2.5);

                    margin-top: 2vh;

                    i, h4, span
                    {
                        font-size: $font-size;
                    }

                    i, span
                    {
                        margin-right: ($font-size - $font-size / 2);
                    }
                }
            }
        }

        #m-aboutme-left
        {
            padding: 0px;

            #m-aboutme-header
            {
                #m-aboutme-name
                {
                    img 
                    {
                        height: 2.5rem;
                    }
                }

                #m-aboutme-title
                {
                    padding-left: 2rem;

                    i 
                    {
                        font-size: 2rem;

                        margin: 0 0.6rem;
                    }
                }
            }

            #m-aboutme-body
            {
                p
                {
                    font-size: 1.5rem;
                }
            }
        }

        .h-divider //https://codepen.io/MiKr13/pen/yjaNYp
        {
            margin: 3vh 0;

            position: relative;

            .m-shadow
            {
                overflow: hidden;
                height: 20px;
            }

            .m-shadow:after 
            {
                content: '';
                display: block;
                margin: -25px auto 0;
                width: 100%;
                height: 25px;
                border-radius: 125px/12px;
                box-shadow: 0 0 8px black;
            }
        }
    }
}





//*****************************************************************************************//
//*****************************************************************************************//
//**************************************** SKILLS *****************************************//
//*****************************************************************************************//
//*****************************************************************************************//









//*****************************************************************************************//
//*****************************************************************************************//
//************************************** EXPERIENCE ***************************************//
//*****************************************************************************************//
//*****************************************************************************************//







//*****************************************************************************************//
//*****************************************************************************************//
//*************************************** PROJECTS ****************************************//
//*****************************************************************************************//
//*****************************************************************************************//






//*****************************************************************************************//
//*****************************************************************************************//
//************************************** CONTACT ME ***************************************//
//*****************************************************************************************//
//*****************************************************************************************//






//*****************************************************************************************//
//*****************************************************************************************//
//**************************************** CREDITS ****************************************//
//*****************************************************************************************//
//*****************************************************************************************//







//*****************************************************************************************//
//*****************************************************************************************//
//***************************************** NAVBAR ****************************************//
//*****************************************************************************************//
//*****************************************************************************************//

#m-navbar
{
    background-color: rgba(255, 255, 255, 0.4);

    // Position and size
    position: absolute;
    bottom: 10px;
    right: 0;
    height: 40px;
    width: 100%;
    margin: 0;

    > div
    {
        font-weight: bold;
        margin-right: 20px;

        cursor: default;
    }
}


// Include the portrait mode css at the end to give it higher priority over those rules.
@import 'index_portrait'; 