//*****************************************************************************************//
//*****************************************************************************************//
//********************************** VARIABLES AND MIXIN **********************************//
//*****************************************************************************************//
//*****************************************************************************************//




//*****************************************************************************************//
//*****************************************************************************************//
//************************************ MENU GENERAL ***************************************//
//*****************************************************************************************//
//*****************************************************************************************//


#sm-viewport
{
    @include mobile-portrait
    {
        margin: 0 2.5vw;   
    }
}



//*****************************************************************************************//
//*****************************************************************************************//
//************************************** MAIN MENU ****************************************//
//*****************************************************************************************//
//*****************************************************************************************//

#sm-main-menu
{
    .sm-portrait-layout
    {
        $item-num: 6;

        > .row
        {
            height: to-percentage(100 / $item-num);

            .m-item-hover 
            {
                span
                {
                    font-size: 40px;
                }
            }
        }
    }
}







//*****************************************************************************************//
//*****************************************************************************************//
//*************************************** ABOUT ME ****************************************//
//*****************************************************************************************//
//*****************************************************************************************//

#m-about-me
{
    .sm-main-layout
    {
        @include mobile-portrait
        {
            #m-my-photo
            {
                > img 
                {
                    margin: 0 !important;
                }
            }
        }
    }
}