//*****************************************************************************************//
//*****************************************************************************************//
//********************************** VARIABLES AND MIXIN **********************************//
//*****************************************************************************************//
//*****************************************************************************************//

@mixin bootstrap-xs 
{
    @media (max-width: 576px)
    {
        @content;
    }
}

@mixin bootstrap-sm 
{
    @media (min-width: 576px)
    {
        @content;
    }
}

@mixin bootstrap-not-sm 
{
    @media (max-width: 576px)
    {
        @content;
    }
}

@mixin bootstrap-md 
{
    @media (min-width: 768px)
    {
        @content;
    }
}

@mixin bootstrap-not-md 
{
    @media (max-width: 768px)
    {
        @content;
    }
}

@mixin bootstrap-lg 
{
    @media (min-width: 992px)
    {
        @content;
    }
}

@mixin bootstrap-not-lg 
{
    @media (max-width: 992px)
    {
        @content;
    }
}

@mixin bootstrap-xl 
{
    @media (min-width: 1200px)
    {
        @content;
    }
}

//*****************************************************************************************//
//*****************************************************************************************//
//*************************************** GENERAL *****************************************//
//*****************************************************************************************//
//*****************************************************************************************//

html
{
    font-size: 16px;

    @include bootstrap-xs
    {
        font-size: 8px;
    }
}

//*****************************************************************************************//
//*****************************************************************************************//
//************************************ MENU GENERAL ***************************************//
//*****************************************************************************************//
//*****************************************************************************************//

#m-background-port
{
    display: none;
}

@include portrait
{

#m-background-port
{
    display: block;
}

#m-background-land
{
    display: none;
}

}


//*****************************************************************************************//
//*****************************************************************************************//
//************************************** MAIN MENU ****************************************//
//*****************************************************************************************//
//*****************************************************************************************//

#sm-main-menu
{
    .sm-layout
    {
        #m-carousel
        {
            .sm-item[data-goto="m-skills"]
            {
                .m-item-title
                {
                    h1:nth-child(2)
                    {
                        display: none;
                    }

                    @media (min-height: 1100px)
                    {
                        h1:nth-child(2)
                        {
                            display: block;
                        }     

                        h1:first-child
                        {
                            display: none;
                        }
                    }
                }
            }

            #m-main-esc
            {
                transform: scale(0.35, 0.35);
                
                @include portrait
                {
                    transform: scale(0.5, 0.5);
                }

                @include bootstrap-not-lg
                {
                    #m-main-esc-key
                    {
                        display: none;
                    }
                }
            }
        }
    }
}


//*****************************************************************************************//
//*****************************************************************************************//
//*************************************** ABOUT ME ****************************************//
//*****************************************************************************************//
//*****************************************************************************************//

@mixin left-panel-dimention($font-size)
{
    #m-contact-me
    {
        .col
        {
            height: ($font-size * 2.5);

            i, h4, span
            {
                font-size: $font-size;
            }

            i, span
            {
                margin-right: ($font-size - $font-size / 2);
            }
        }
    }
}

#m-about-me
{
    .sm-main-layout
    {
        $font-size: 2vw;

        @include bootstrap-xs
        {
            #m-aboutme-left
            {
                padding: 0 7px;
            }

            #m-aboutme-right
            {
                p
                {
                    padding: 0 7px;
                }
            }
        }
        
        @include bootstrap-not-lg
        {
            #m-aboutme-left
            {
                flex-direction: row; 

                height: $font-size * 7.5;

                margin-bottom: 2vh;

                #m-my-photo
                {
                    width: 25%;

                    img
                    {
                        height: 100%;
                    }
                }

                @include left-panel-dimention($font-size)
            }
        }

        @include bootstrap-lg
        {
            #m-aboutme-left
            {
                flex-direction: column; 

                #m-my-photo
                {
                    img
                    {
                        width: 80%;
                    }
                }

                #m-contact-me
                {
                    .col
                    {
                        margin-top: 2vh;
                    }
                }

                @include left-panel-dimention(1.5vw)
            }
        }
    }
}





//*****************************************************************************************//
//*****************************************************************************************//
//**************************************** SKILLS *****************************************//
//*****************************************************************************************//
//*****************************************************************************************//

#m-skills
{
    .sm-main-layout
    {
        #m-skills-accordion
        {
            .m-skill-left
            {
                flex-direction: row;

                @include bootstrap-xs
                {
                    flex-direction: column;
                }
            }

            .m-skill-right
            {
                @include bootstrap-xs
                {
                    .m-skill-header
                    {
                        font-size: 1.8rem;
                    }

                    .m-skill-desc
                    {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}






//*****************************************************************************************//
//*****************************************************************************************//
//************************************** EXPERIENCE ***************************************//
//*****************************************************************************************//
//*****************************************************************************************//


#m-experience
{
    .sm-main-layout
    {
        #m-exp-accordion
        {
            .m-exp
            {
                @include bootstrap-not-lg()
                {
                    .m-exp-header
                    {
                        .m-exp-title
                        {
                            text-align: center;

                            margin-bottom: 7px;
                        }
    
                        .m-exp-total
                        {
                            text-align: right;
                        }

                        .m-exp-progress
                        {
                            flex-direction: row !important;
                            justify-content: space-between;

                            margin-top: 7px;

                            .progress
                            {
                                height: 70%;
                                width: 30% !important;

                                font-size: 1.2rem;
                            }
                        }
                        
                        h4
                        {
                            font-size: 1.65rem;
                        }

                        h5
                        {
                            font-size: 1.5rem;
                        }
                    }
                    
                    .m-exp-body
                    {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}


//*****************************************************************************************//
//*****************************************************************************************//
//*************************************** PROJECTS ****************************************//
//*****************************************************************************************//
//*****************************************************************************************//


#m-projects
{
    .sm-main-layout
    {

        @include bootstrap-not-md
        {
            .m-game
            {
                height: 35vw;
            }
        }
    }
}





//*****************************************************************************************//
//*****************************************************************************************//
//**************************************** CREDITS ****************************************//
//*****************************************************************************************//
//*****************************************************************************************//





//*****************************************************************************************//
//*****************************************************************************************//
//***************************************** NAVBAR ****************************************//
//*****************************************************************************************//
//*****************************************************************************************//
