<html>
    <header>
        <!-- JQUERY -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!-- BOOTSTRAP -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- RIVETS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/rivets/0.9.6/rivets.bundled.min.js" integrity="sha512-WbDc2Ct+AFsd+BGGwlm0z6wu17Z1B7xcKcleDOsBdkNLzNUiJgJPHGKWvYWjCj+l6p1P4tRM8UBV6nh/7VMAYg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!-- DATATABLE -->
        <link href="https://cdn.datatables.net/v/bs5/dt-2.1.4/datatables.min.css" rel="stylesheet">
        <script src="https://cdn.datatables.net/v/bs5/dt-2.1.4/datatables.min.js"></script>
        <!-- LOCAL -->
        <script type="text/javascript" src="data/listone.js"></script>
        <script type="text/javascript" src="data/modules.js"></script>
        <script type="text/javascript" src="script/utilities.js"></script>
        <script type="text/javascript" src="script/data.js"></script>
        <script type="text/javascript" src="script/dynamic.js"></script>
        <script type="text/javascript" src="script/player.js"></script>
        <script type="text/javascript" src="script/module.js"></script>
        <script type="text/javascript" src="script/team.js"></script>
        <script type="text/javascript" src="script/index.js"></script>
        <link rel="stylesheet" href="style/index.css" />
    </header>
    <body onload="fanta.startup()" onunload="fanta.terminate()">
        <nav class="navbar navbar-light">
            <ul class="nav nav-pills justify-content-center w-100">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-teams-tab" data-bs-toggle="pill" data-bs-target="#pills-teams" 
                        type="button" role="tab" aria-controls="pills-teams" aria-selected="true">
                        Teams
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-players-tab" data-bs-toggle="pill" data-bs-target="#pills-players" 
                        type="button" role="tab" aria-controls="pills-players" aria-selected="false">
                        Players
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-fields-tab" data-bs-toggle="pill" data-bs-target="#pills-fields" 
                        type="button" role="tab" aria-controls="pills-fields" aria-selected="false">
                        Fields
                    </a>
                </li>
            </ul>
        </nav>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-teams" role="tabpanel" aria-labelledby="pills-teams-tab">
                <div class="accordion accordion-flush" id="add-team-accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="add-team-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#add-team-card" aria-expanded="false" aria-controls="add-team-card">
                                Add new team
                            </button>
                        </h2>
                        <div id="add-team-card" class="accordion-collapse collapse" aria-labelledby="add-team-header" data-bs-parent="#add-team-accordion">
                            <form id="add-team-form">
                                <label for="team-name-input">Name:</label><br>
                                <input type="text" id="team-name-input" name="team-name-input"><br>
                                <label for="team-credits-input">Credits:</label><br>
                                <input type="number" id="team-credits-input" name="team-credits" value="1000">
                                <input type="submit" value="Add">
                            </form> 
                        </div>
                    </div>
                </div>
                <div id="player">
                    <div id="players-dropdown" class="dropdown m-4">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="player-selector" data-bs-toggle="dropdown" 
                            aria-expanded="false">
                            Search Player
                        </button>
                        <ul class="dropdown-menu pt-0" aria-labelledby="dropdownMenuButton1">
                            <input type="text" class="form-control border-0 border-bottom shadow-none mb-2" 
                                placeholder="Search..." id="player-search">
                        </ul>
                    </div>
                    <div id="player-stats" class="row">
                        <div id="player-header" class="col-3 position-relative">
                            <div id="player-bg-container">
                                <div class="w-100 h-100" rv-class="player.team"> </div>
                            </div>
                            <div id="player-name-and-team" class="position-absolute top-0">
                                <h1>{ player.name }</h2>
                                <h3>{ player.team }</h3>
                            </div>
                        </div>
                        <div class="col-2">
                            <div>
                                <h3>Mantra</h3>
                                <p><span class="role-icon" rv-each-role="player.roleM.subRoles" rv-class="role">{ role }</span></p>
                                <p class="price">Value: { player.priceM } </p>
                            </div>
                        </div>
                        <div class="col-2">
                            <div>
                                <h3>Classic</h3>
                                <p><span class="role-icon" rv-class="player.role.explicit">{ player.role.explicit }</span></p>
                                <p>Value: { player.price } </p>
                            </div>
                        </div>
                        <div id="add-player-form" class="col-5 row justify-content-around">
                            <div id="teams-dropdown" class="dropdown col-4">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="player-selector" data-bs-toggle="dropdown" 
                                    aria-expanded="false">
                                    Select Team
                                </button>
                                <ul class="dropdown-menu pt-0" aria-labelledby="player-selector">
                                    <li rv-each-team="teams">
                                        <a class="dropdown-item" href="#" onclick="fanta.selectPlayerTeam(event)" rv-data1="team.name">
                                            { team.name }
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <button type="button" class="btn btn-secondary" style="width: 150px;" id="add-player">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="teams-container">
                    <div id="accordion-header" class="bg-dark text-white">
                        <div class="row w-100">
                            <div class="col-2">Name</div>
                            <div class="col-10 row">
                                <div class="col" rv-each-module="modules">{ module.name }</div>
                            </div>
                        </div>
                    </div>
                    <div id="teams" class="accordion">
                        <div class="accordion-item" rv-each-team="teams">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" rv-bstarget="team.name" aria-expanded="true" aria-controls="collapseOne">
                                    <div class="row w-100">
                                        <div class="col-2">{ team.name }</div>
                                        <div class="col-10 row">
                                            <div class="col" rv-each-missingrole="team.moduleCompatibilities">{ missingrole.index }</div>
                                        </div>
                                    </div>
                                </button>
                            </h2>
                            <div rv-id="team.name" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="col-2 team-players">
                                            <ul class="no-bullets">
                                                <li rv-each-player="team.playerList.players">
                                                    <a onclick="fanta.removePlayer(event)">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" 
                                                            class="bi bi-x-circle" viewBox="0 0 16 16" rv-data1="team.name" rv-data2="player.name">
                                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                                                        </svg>
                                                    </a>
                                                    { player.name }
                                                    <span class="role-icon" rv-each-role="player.roleM.subRoles" rv-class="role">
                                                        { role }
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-10 row team-modules">
                                            <div class="col" rv-each-compatibility="team.moduleCompatibilities">
                                                <ul class="no-bullets">
                                                    <li rv-each-role="compatibility.missingRoles">
                                                        <span class="role-icon" rv-class="role.explicit"> { role.explicit } </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>         
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-players" role="tabpanel" aria-labelledby="pills-players-tab">
                <div id="player-filters" class="flex-column justify-content-center">
                    <div id="player-role-filters" class="d-flex justify-content-between">
                        <span rv-each-role="filterRoles" class="role-icon" rv-class="role" rv-data1="role" data-filter-state="off" 
                            onmouseenter="event.target.classList.add('hovered')"
                            onmouseleave="event.target.classList.remove('hovered')"
                            onclick="fanta.togglePlayerListFilter(event)">
                            { role }
                        </span>
                    </div>
                    <div id="player-team-filters" class="d-flex justify-content-between">
                        <span rv-each-team="filterTeams" class="team-icon" rv-class="team" rv-data1="team" data-filter-state="off" 
                            onmouseenter="event.target.classList.add('hovered')"
                            onmouseleave="event.target.classList.remove('hovered')"
                            onclick="fanta.togglePlayerListFilter(event)">
                            { team | team }
                        </span>
                    </div>
                </div>
                <div id="table-container">
                    <table id="players-table" class="table w-100">
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-fields" role="tabpanel" aria-labelledby="pills-fields-tab">
                <div id="field-teams-dropdown" class="dropdown col-7">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="field-team-selector" data-bs-toggle="dropdown" 
                        aria-expanded="false">
                        Select Team
                    </button>
                    <ul class="dropdown-menu pt-0" aria-labelledby="field-team">
                        <li rv-each-team="teams">
                            <a class="dropdown-item" href="#" onclick="fanta.selectFieldTeam(event)" rv-data1="team.name">
                                { team.name }
                            </a>
                        </li>
                    </ul>
                </div>                                    
                <div id="fields-container" class="d-flex justify-content-around flex-wrap">
                    <div class="module" rv-each-module="modules">
                        <h1>{ module.name }</h1>
                        <div class="field" rv-class="module.name">
                            <div class="row field-por">
                                <div class="col-5"></div>
                                <div class="col-2"><span class="role-icon rv-por">Por</span></div>
                                <div class="col-5"></div>
                            </div>
                            <div class="row field-d">
                                <div rv-each-pos="module.fieldD" rv-col="pos.space">
                                    <span data-bs-toggle="tooltip"
                                        class="role-icon" rv-if="pos.role" rv-class="pos.role.explicit">
                                        { pos.role.explicit }
                                    </span>
                                </div>
                            </div>
                            <div class="row field-c">
                                <div rv-each-pos="module.fieldC" rv-col="pos.space">
                                    <span data-bs-toggle="tooltip"
                                        class="role-icon" rv-if="pos.role" rv-class="pos.role.explicit">
                                        { pos.role.explicit }
                                    </span>
                                </div>
                            </div>
                            <div class="row field-a">
                                <div rv-each-pos="module.fieldA" rv-col="pos.space">
                                    <span data-bs-toggle="tooltip"
                                        class="role-icon" rv-if="pos.role" rv-class="pos.role.explicit">
                                        { pos.role.explicit }
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>