@charset "UTF-8";
@font-face {
  font-family: "icomoon-cv";
  src: url("fonts/icomoon-cv.eot?91ctzt");
  src: url("fonts/icomoon-cv.eot?91ctzt#iefix") format("embedded-opentype"), url("fonts/icomoon-cv.ttf?91ctzt") format("truetype"), url("fonts/icomoon-cv.woff?91ctzt") format("woff"), url("fonts/icomoon-cv.svg?91ctzt#icomoon-cv") format("svg");
  font-weight: normal;
  font-style: normal;
}

i.icon-cv {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon-cv" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dex .path1:before {
  content: "";
  color: black;
}

.icon-dex .path2:before {
  content: "";
  margin-left: -1em;
  color: white;
}

.icon-dex_t:before {
  content: "";
  color: #fff;
}

.icon-cha .path1:before {
  content: "";
  color: black;
}

.icon-cha .path2:before {
  content: "";
  margin-left: -1em;
  color: white;
}

.icon-fist .path1:before {
  content: "";
  color: black;
}

.icon-fist .path2:before {
  content: "";
  margin-left: -1em;
  color: white;
}

.icon-str_t:before {
  content: "";
  color: #fff;
}

.icon-int .path1:before {
  content: "";
  color: black;
}

.icon-int .path2:before {
  content: "";
  margin-left: -1em;
  color: white;
}

.icon-int_t:before {
  content: "";
  color: #fff;
}

.icon-con .path1:before {
  content: "";
  color: black;
}

.icon-con .path2:before {
  content: "";
  margin-left: -1em;
  color: white;
}

.icon-con_t:before {
  content: "";
  color: #fff;
}

.icon-sag .path1:before {
  content: "";
  color: black;
}

.icon-sag .path2:before {
  content: "";
  margin-left: -1em;
  color: white;
}

.icon-sag_t:before {
  content: "";
  color: #fff;
}

.icon-con2 .path1:before {
  content: "";
  color: black;
}

.icon-con2 .path2:before {
  content: "";
  margin-left: -1em;
  color: white;
}

.icon-cha_t:before {
  content: "";
  color: #fff;
}

.icon-knapsack .path1:before {
  content: "";
  color: black;
}

.icon-knapsack .path2:before {
  content: "";
  margin-left: -1em;
  color: white;
}

.icon-knapsack_t:before {
  content: "";
  color: #fff;
}

@font-face {
  font-family: "fantasy";
  src: url("/Styles/fonts/LifeCraft_Font.ttf") format("opentype");
}

body {
  overflow: hidden;
}

.fake_body {
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.fake_body::before {
  background: rgba(255, 255, 255, 0.2);
  content: "";
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

#selection {
  position: relative;
  z-index: 900;
}

#selection #selection_header {
  background-color: gray;
  color: #ffbf00;
  font-family: fantasy;
  font-size: 90px;
  height: 150px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

#selection .pg_info {
  cursor: pointer;
  height: 230px;
  width: 100%;
}

#selection .pg_info .pg_avatar img {
  border-radius: 100%;
  display: block;
  margin: auto;
  opacity: 0.5;
  width: 170px;
}

#selection .pg_info .pg_text > div {
  width: 100%;
}

#selection .pg_info .pg_text > div .pg_label {
  color: rgba(163, 11, 11, 0.5);
  float: left;
  width: 15%;
}

#selection .pg_info .pg_text > div .pg_attribute {
  color: rgba(0, 0, 0, 0.5);
  float: right;
  width: 85%;
}

#selection .pg_info .pg_text > div .pg_label, #selection .pg_info .pg_text > div .pg_attribute {
  font-family: fantasy;
  font-size: 35px;
}

#selection .pg_info:hover {
  background-color: beige;
}

#selection .pg_info:hover .pg_avatar img {
  opacity: 1;
  width: 200px;
}

#selection .pg_info:hover .pg_text .pg_label {
  color: #a30b0b;
}

#selection .pg_info:hover .pg_text .pg_attribute {
  color: black;
}

.pg_image {
  border-radius: 100%;
  width: 200px;
}

#character {
  font-family: fantasy;
  position: absolute;
  top: 0;
  z-index: 600;
}

#character #character_header {
  padding: 10px 0;
}

#character #character_header > div {
  height: 100%;
}

#character #character_header #character_avatar {
  padding: 0;
  z-index: 1000;
}

#character #character_header #character_avatar img {
  border-radius: 100%;
  border: 6px solid lightgray;
  float: right;
  height: 100%;
  width: auto;
}

#character #character_header #character_info {
  padding: 0;
  font-family: fantasy;
  font-size: 17px;
  font-weight: bold;
  z-index: 999;
}

#character #character_header #character_info > div {
  background-color: lightgray;
  border-radius: 10px;
  margin-left: -2.5vw;
}

#character #character_header #character_info #character_name {
  margin-left: 2.5vw;
}

#character #character_header #character_info #character_mana, #character #character_header #character_info #character_health {
  border: 3px solid lightgray;
  border-radius: 10px;
  height: 20%;
  text-align: center;
  width: 100%;
}

#character #character_header #character_info #character_health {
  background-color: #65bf65;
  color: #0d870d;
}

#character #character_header #character_info #character_mana {
  background-color: #6565bf;
  color: #0d0d87;
}

#character #character_header #character_stats {
  background-color: rgba(255, 255, 255, 0.4);
  border: 5px ridge lightgray;
  border-radius: 10px;
  padding: 5px 10px;
}

#character #character_header #character_stats .icon-stats, #character #character_header #character_stats .stats_container {
  font-size: 35px;
}

@media only screen and (max-height: 800px) {
  #character #character_header #character_stats .icon-stats, #character #character_header #character_stats .stats_container {
    font-size: 30px;
  }
}

#character #character_header #character_stats .icon-stats::before {
  color: black;
}

#character #character_header #character_stats .stats_container {
  color: #ffbf00;
  font-family: fantasy;
  font-weight: bold;
  text-align: center;
  cursor: default;
}

#character #character_header #character_stats .row > .d-flex > div {
  width: 100%;
}

#character #character_body {
  padding: 10px 0;
}

#character #character_body #character_equip > img {
  height: 100%;
  margin: auto;
}

#character #character_body #character_equip .equip {
  border: 3px ridge gray;
  height: 8vh;
  position: absolute;
  width: 8vh;
}

#character #character_body #character_talents {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0;
}

#character #character_body #character_talents ul a.active, #character #character_body #character_talents #talents_categories {
  background-color: white;
}

#character #character_body #character_talents ul {
  z-index: 1001;
}

#character #character_body #character_talents ul a.active {
  border: 5px ridge lightgray;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
}

@media only screen and (max-width: 1650px) {
  #character #character_body #character_talents ul {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1500px) {
  #character #character_body #character_talents ul {
    font-size: 11px;
  }
}

#character #character_body #character_talents #talents_categories {
  border: 5px ridge lightgray;
  border-radius: 0 10px 10px 10px;
  margin-top: -5px;
  z-index: 1000;
}

#character #character_body #character_talents #talents_categories div[class^="col-"], #character #character_body #character_talents #talents_categories div[class*=" col-"] {
  max-height: 100%;
}

#character #character_body #character_talents #talents_categories #talents_general {
  padding: 0;
}

#character #character_body #character_talents #talents_categories #talents_general > .row.showed {
  background-color: rgba(150, 150, 150, 0.3);
}

#character #character_body #character_talents #talents_categories #talents_general > .row {
  cursor: pointer;
  height: 19%;
  margin: 1% 0;
  padding: 3px 10px;
}

#character #character_body #character_talents #talents_categories #talents_general > .row .talent_header h1 {
  font-size: 27px;
}

#character #character_body #character_talents #talents_categories #talents_general > .row .talent_row img {
  border: 2px solid lightgray;
  border-radius: 10px;
  display: block;
  margin: auto;
  max-height: 100%;
  max-width: 80%;
}

#character #character_body #character_talents #talents_categories .talents_category .container-fluid {
  height: 100%;
}

#character #character_body #character_talents #talents_categories .talents_category .talent {
  padding: 5px 0;
}

#character #character_body #character_talents #talents_categories .talents_category .talent .talent_info img {
  max-height: 100%;
  max-width: 80%;
}

#character #character_body #character_code_environment {
  background-color: #1e1e1e;
  font-family: Consolas, sans-serif;
  padding: 0;
}

#character #character_body #character_code_environment #code_paper {
  height: 85%;
}

#character #character_body #character_code_environment #code_paper p {
  color: lightyellow;
  padding: 0 10px;
}

#character #character_body #character_code_environment #code_terminal {
  border-top: 1px solid lightgray;
  height: 15%;
  overflow: hidden;
}

#character #character_body #character_code_environment #code_terminal p {
  color: green;
  padding: 0 10px;
}

#character #character_body #character_inventory #inventory_space {
  height: 85%;
  width: 100%;
}

#character #character_body #character_inventory #inventory_space img {
  background-color: black;
}

#character #character_body #character_inventory #inventory_button {
  height: 15%;
  margin-top: 5px;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1002;
}

#character #character_body #character_inventory #inventory_button i {
  font-size: 10vh;
}

#character #character_body #character_inventory #inventory_button i:hover .path2::before {
  color: black;
}

#character #character_body #character_inventory #inventory_button i:hover .path1::before {
  color: white;
}

#character #character_abilities #abilities_bar {
  background-color: rgba(0, 0, 0, 0.5);
  border: 8px ridge gray;
  border-radius: 10px;
}

#character #character_abilities #abilities_bar .col-1 {
  background-size: 100% 100%;
  border-right: 5px ridge gray;
  padding: 0;
}

#character #character_abilities #abilities_bar .col-1 h1 {
  color: white;
  font-family: fantasy;
  font-size: 23px;
  position: absolute;
  right: 2px;
  top: 0px;
  z-index: 1000;
}

#character #character_abilities #abilities_bar .col-1 .loading_screen {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%);
          clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1002;
}

#character #character_abilities #abilities_bar .col-1 .loading_screen.loading {
  -webkit-animation: loading 1s linear;
          animation: loading 1s linear;
}

#character #character_abilities #abilities_bar .col-1.set {
  background-color: black;
}

#character #character_abilities #abilities_bar .col-1.activated {
  -webkit-box-shadow: inset 0px 0px 2px 3px white;
          box-shadow: inset 0px 0px 2px 3px white;
}

#character #character_abilities #abilities_bar .col-1:last-child {
  border-right: 5px;
}

#inventory_internal {
  height: 90%;
  width: 90%;
  margin: auto;
}

#inventory_internal .row {
  background-color: rgba(0, 0, 0, 0.5);
  border-left: 5px ridge lightgray;
  border-right: 5px ridge lightgray;
  height: 20%;
  margin: 0 20px;
}

#inventory_internal .row div {
  padding: 3px;
}

#inventory_internal .row div img {
  border: 2px ridge gray;
  width: 100%;
  height: 100%;
}

#inventory_internal .row div img[src="Styles/Images/knapsack.png"] {
  opacity: 0.7;
}

#inventory_internal .row:first-child {
  border-top: 5px ridge lightgray;
}

#inventory_internal .row:last-child {
  border-bottom: 5px ridge lightgray;
}

#mobile {
  display: none;
}

@media only screen and (max-width: 1200px) {
  #selection, #character, .fake_body, #fake_character_info, #fake_character_avatar {
    display: none !important;
  }
  #mobile {
    color: #ffbf00;
    display: block;
    font-family: fantasy;
    text-align: center;
  }
}

#blinking_cursor {
  -webkit-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@-webkit-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: lightyellow;
  }
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: lightyellow;
  }
}

@-webkit-keyframes loading {
  0% {
    -webkit-clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 50% 0%, 50% 50%);
            clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 50% 0%, 50% 50%);
  }
  12% {
    -webkit-clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 50% 0%, 50% 50%);
            clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 50% 0%, 50% 50%);
  }
  37% {
    -webkit-clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 0% 100%, 0% 0%, 50% 0%, 50% 50%);
            clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 0% 100%, 0% 0%, 50% 0%, 50% 50%);
  }
  62% {
    -webkit-clip-path: polygon(0% 100%, 0% 100%, 0% 100%, 0% 100%, 0% 0%, 50% 0%, 50% 50%);
            clip-path: polygon(0% 100%, 0% 100%, 0% 100%, 0% 100%, 0% 0%, 50% 0%, 50% 50%);
  }
  87% {
    -webkit-clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 50% 0%, 50% 50%);
            clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 50% 0%, 50% 50%);
  }
  100% {
    -webkit-clip-path: polygon(50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 50%);
            clip-path: polygon(50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 50%);
  }
}

@keyframes loading {
  0% {
    -webkit-clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 50% 0%, 50% 50%);
            clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 50% 0%, 50% 50%);
  }
  12% {
    -webkit-clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 50% 0%, 50% 50%);
            clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%, 50% 0%, 50% 50%);
  }
  37% {
    -webkit-clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 0% 100%, 0% 0%, 50% 0%, 50% 50%);
            clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 0% 100%, 0% 0%, 50% 0%, 50% 50%);
  }
  62% {
    -webkit-clip-path: polygon(0% 100%, 0% 100%, 0% 100%, 0% 100%, 0% 0%, 50% 0%, 50% 50%);
            clip-path: polygon(0% 100%, 0% 100%, 0% 100%, 0% 100%, 0% 0%, 50% 0%, 50% 50%);
  }
  87% {
    -webkit-clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 50% 0%, 50% 50%);
            clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 50% 0%, 50% 50%);
  }
  100% {
    -webkit-clip-path: polygon(50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 50%);
            clip-path: polygon(50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 50%);
  }
}
/*# sourceMappingURL=cv.css.map */