@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Open+Sans");
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?rqv6xm");
  src: url("fonts/icomoon.eot?rqv6xm#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?rqv6xm") format("truetype"), url("fonts/icomoon.woff?rqv6xm") format("woff"), url("fonts/icomoon.svg?rqv6xm#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
i.icomoon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-moon-webgl-logo:before {
  content: ""; }

.icon-moon-belt:before {
  content: ""; }

.icon-moon-brand:before {
  content: ""; }

.icon-moon-steam:before {
  content: ""; }

body {
  font-size: 20px;
  font-family: 'Open Sans'; }

.row {
  margin-left: 0px;
  margin-right: 0px; }

@media screen and (max-width: 765px) {
  .content-fluid {
    padding: 0 15px; } }
@media screen and (max-width: 900px) {
  #header #header_collapse {
    height: auto !important;
    border-top: 1px solid #b9b6b6;
    margin-top: 0 !important; } }
@media screen and (min-width: 900px) {
  #header #header_collapse {
    height: 52px !important; } }
@media screen and (max-width: 900px) {
  #top_arrow {
    display: block !important;
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: gray;
    z-index: 1030;
    text-decoration: none !important; }
    #top_arrow div {
      background-color: black;
      border-radius: 100%;
      padding-bottom: 10px !important;
      padding: 0 4px; }
      #top_arrow div p {
        color: green;
        font-size: 40px;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        padding: 4px;
        line-height: 20px; } }
#top_arrow {
  display: none; }

#header {
  background-image: linear-gradient(#d2d2d2, #e7e7e7);
  box-shadow: -1px 1px #e2e2da; }
  #header #header_collapse {
    margin-top: 10px;
    transition: all .2s linear;
    padding: 0px; }
    #header #header_collapse ul {
      font-size: 16px; }
      #header #header_collapse ul li {
        padding: 0 25px; }
        #header #header_collapse ul li span {
          margin-right: 10px; }
        #header #header_collapse ul li a {
          color: #337ab7; }
        #header #header_collapse ul li a:hover {
          border-bottom: 2px solid #337ab7; }
        #header #header_collapse ul li a.current {
          border-bottom: 2px solid #337ab7; }
  #header #header_collapse.collapsed {
    margin-top: 0px; }

@media screen and (max-width: 900px) {
  #preface #photo_content {
    display: block;
    clear: both;
    min-height: 0px;
    max-height: 200px; }
    #preface #photo_content #me_photo {
      height: 50px; } }
#preface {
  background-image: url("Images/mybackground.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative; }
  #preface #photo_content {
    position: relative; }
    #preface #photo_content #me_photo {
      margin: 0 auto; }
  #preface #text_container {
    position: relative;
    text-align: center;
    color: #1d4668;
    text-shadow: 0.2px 0.2px #5454ec, -0.2px -0.2px #5454ec; }
  @media screen and (max-width: 900px) {
    #preface #photo_content {
      width: 100%;
      margin-top: 25px; }
      #preface #photo_content #me_photo {
        height: 200px;
        display: block; } }
  @media screen and (min-width: 900px) {
    #preface #photo_content {
      min-height: 300px;
      margin-top: 50px;
      float: left;
      width: 30%; }
      #preface #photo_content #me_photo {
        height: 280px;
        display: block;
        transition: all 0.3s ease;
        float: right; } }
  @media only screen and (min-width: 900px) and (min-width: 1080px) {
    #preface #photo_content #me_photo.sticky {
      position: fixed;
      z-index: 10000;
      height: 80px;
      top: 15px;
      left: 10px; } }
  @media screen and (min-width: 900px) {
    #preface #text_container {
      float: left;
      width: 50%; }
      #preface #text_container div {
        float: left;
        margin-top: 130px;
        margin-left: 50px; } }

#preface::before {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.2); }

.my_section {
  padding: 50px 0; }
  .my_section .title {
    text-align: center;
    color: #337ab7;
    text-shadow: 1px 0.6px #34328e;
    margin-bottom: 50px;
    text-transform: uppercase; }

#about_me .title {
  margin-top: 50px; }
#about_me #citation {
  text-align: center;
  color: blue;
  font-size: 20px; }
#about_me article {
  text-align: justify; }

#skills {
  background-image: url("Images/skillsbackground.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  #skills .title {
    position: relative; }
  #skills .hidden_row {
    opacity: 0;
    margin-top: 200px; }
  #skills .skill_container i.icon-moon-webgl-logo {
    font-size: 60px; }
  #skills .skill_container svg.icon-moon-webgl-logo {
    height: 60px;
    width: 140px;
    margin-bottom: 29px; }
  @media screen and (min-width: 765px) {
    #skills .skill_container {
      text-align: center;
      color: #1e1e1e; }
      #skills .skill_container i {
        font-size: 90px;
        visibility: visible;
        position: absolute;
        color: #303030; }
      #skills .skill_container svg, #skills .skill_container img {
        width: 90px;
        visibility: hidden; }
      #skills .skill_container .icon-moon-belt {
        height: 88px; }
      #skills .skill_container h2 {
        margin-top: 0px; }
      #skills .skill_container p {
        text-align: justify; }
    #skills .skill_container:hover i {
      visibility: hidden; }
    #skills .skill_container:hover svg, #skills .skill_container:hover img {
      visibility: visible; } }
  @media screen and (max-width: 765px) {
    #skills .row .col-sm-10 {
      margin-bottom: 0 !important; }
      #skills .row .col-sm-10 .row .col {
        margin-bottom: 10px; }
        #skills .row .col-sm-10 .row .col .skill_container {
          text-align: center;
          color: #1e1e1e;
          position: relative; }
          #skills .row .col-sm-10 .row .col .skill_container i {
            display: none; }
          #skills .row .col-sm-10 .row .col .skill_container svg, #skills .row .col-sm-10 .row .col .skill_container img {
            width: 70px;
            top: 30%;
            left: 0;
            position: absolute; }
          #skills .row .col-sm-10 .row .col .skill_container .text_container {
            width: 85%;
            margin-left: 15%; }
            #skills .row .col-sm-10 .row .col .skill_container .text_container h2 {
              text-align: left;
              margin-top: 0px; }
            #skills .row .col-sm-10 .row .col .skill_container .text_container p {
              text-align: justify; } }
  #skills .row {
    margin-bottom: 20px; }
    #skills .row .col-sm-10 {
      margin-bottom: 55px; }

#skills::before {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.7); }

#projects #proj_carousel .carousel-inner > .item a {
  text-decoration: none !important; }
#projects #proj_carousel .carousel-inner > .item .proj_section {
  position: relative;
  padding: 45px 150px;
  min-height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  #projects #proj_carousel .carousel-inner > .item .proj_section h1 {
    text-align: center;
    position: relative;
    color: #34328e; }
  #projects #proj_carousel .carousel-inner > .item .proj_section p {
    color: black !important;
    position: relative;
    text-align: justify; }
#projects #proj_carousel .carousel-inner > .item #proj_cg {
  background-image: url("Images/cg.jpg") !important; }
#projects #proj_carousel .carousel-inner > .item #proj_sann {
  background-image: url("Images/sann.jpg") !important; }
#projects #proj_carousel .carousel-inner > .item .proj_section::before {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.6); }

#exp {
  background-image: url("Images/expbackground.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  #exp .title {
    position: relative; }
  #exp .row .exp_section {
    margin-bottom: 30px;
    border: 4px solid #a3a2a2;
    border-radius: 30px;
    padding: 15px; }
    #exp .row .exp_section h1 {
      color: #337ab7;
      display: inline;
      padding-left: 10px; }
    #exp .row .exp_section i, #exp .row .exp_section img {
      display: inline;
      font-size: 30px;
      float: right;
      margin-right: 22px;
      font-size: 40px; }
    #exp .row .exp_section img {
      height: 45px; }
    #exp .row .exp_section ul {
      margin-top: 10px; }

#exp::before {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.7); }

#contact .row {
  padding: 0 100px;
  font-size: 20px; }
  #contact .row i {
    margin-right: 20px; }
  #contact .row h3 {
    display: inline; }
    #contact .row h3 small {
      font-size: 20px;
      color: #413f3f; }
  #contact .row .contact_var {
    color: blue; }
  #contact .row .contact_keyword {
    color: green; }
  #contact .row .contact_func {
    color: #ffd900; }
#contact .row:nth-child(4), #contact .row:nth-child(6), #contact .row:nth-child(10) {
  padding-left: 140px; }
#contact .row:nth-child(8) {
  padding-left: 225px; }

footer {
  background-image: linear-gradient(#e7e7e7, #d2d2d2);
  margin-top: 80px;
  font-size: 13px;
  font-weight: bold;
  box-shadow: 1px -2px #e2e2da;
  border-top: 1px solid #e7e7e7; }
  footer .row .col img {
    height: 25px;
    display: block;
    margin: 0 auto; }
  footer .row .col i {
    display: block;
    text-align: center;
    font-size: 30px;
    color: gray; }
  footer .row .col svg {
    height: 25px;
    width: 32px;
    margin-left: 38px;
    fill: gray;
    display: block;
    margin: 0 auto; }
  footer .row .col a {
    text-align: center; }
  footer .row .col:hover i {
    color: black; }
  footer .row .col:hover svg {
    fill: black; }
  footer .row p {
    text-align: center; }
  footer .row {
    margin: 0; }
    footer .row p {
      margin: 0; }
    footer .row a:visited, footer .row a:active {
      text-transform: none; }
  footer .row:first-child {
    padding: 15px; }
  footer .row:nth-child(2) {
    margin-top: 10px; }

@media (max-width: 768px) {
  .col-xs-offset-12 {
    margin-left: 100%; }

  .col-xs-offset-11 {
    margin-left: 91.66666666666666%; }

  .col-xs-offset-10 {
    margin-left: 83.33333333333334%; }

  .col-xs-offset-9 {
    margin-left: 75%; }

  .col-xs-offset-8 {
    margin-left: 66.66666666666666%; }

  .col-xs-offset-7 {
    margin-left: 58.333333333333336%; }

  .col-xs-offset-6 {
    margin-left: 50%; }

  .col-xs-offset-5 {
    margin-left: 41.66666666666667%; }

  .col-xs-offset-4 {
    margin-left: 33.33333333333333%; }

  .col-xs-offset-3 {
    margin-left: 25%; }

  .col-xs-offset-2 {
    margin-left: 16.666666666666664%; }

  .col-xs-offset-1 {
    margin-left: 8.333333333333332%; }

  .col-xs-offset-0 {
    margin-left: 0; } }
/* Ensure that all of the zero offsets are available - recent SASS version did not include .col-sm-offset-0 */
@media (min-width: 768px) {
  .col-sm-offset-0,
  .col-md-offset-0,
  .col-lg-offset-0 {
    margin-left: 0; } }

/*# sourceMappingURL=index.css.map */
